<!DOCTYPE html>
<html lang="en-GB">
<head>
  
      <meta charset="UTF-8">

<meta http-equiv="Content-Language" content="en-GB">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="David von Eichendorf - Software Developer, Refugee">
<meta name="keywords" content="David, David von Eichendorf, Eichendorf, David Eichendorf, Software Developer, Refugee, Activist">
<meta name="author" content="David von Eichendorf">
<meta name="robots" content="index, follow">

<meta property="og:title" content="David von Eichendorf">
<meta property="og:description" content="David von Eichendorf - Software Developer, Refugee">
<meta property="og:image" content="/assets/opengraph/placeholder.png">
<meta property="og:url" content="/en/">

<meta name="twitter:card" content="/assets/opengraph/placeholder.png">
<meta name="twitter:title" content="David von Eichendorf">
<meta name="twitter:description" content="David von Eichendorf - Software Developer, Refugee">
<meta name="twitter:image" content="/assets/opengraph/placeholder.png">
<title>David von Eichendorf | Home</title>
<link rel="canonical" href="/en/">

<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/fontawesome-free-6.6.0-web/css/all.min.css">


  

  
    <link rel="alternate" hreflang="es" href="https://dev1lroot.com/es/">
  

  
    <link rel="alternate" hreflang="fr" href="https://dev1lroot.com/fr/">
  

  
    <link rel="alternate" hreflang="de" href="https://dev1lroot.com/de/">
  

  
    <link rel="alternate" hreflang="uk" href="https://dev1lroot.com/uk/">
  

  
    <link rel="alternate" hreflang="ru" href="https://dev1lroot.com/ru/">
  

  
    <link rel="alternate" hreflang="he" href="https://dev1lroot.com/he/">
  

  
    <link rel="alternate" hreflang="ar" href="https://dev1lroot.com/ar/">
  

  
    <link rel="alternate" hreflang="hi" href="https://dev1lroot.com/hi/">
  

  
    <link rel="alternate" hreflang="zh" href="https://dev1lroot.com/zh/">
  

  
    <link rel="alternate" hreflang="ko" href="https://dev1lroot.com/ko/">
  

  
    <link rel="alternate" hreflang="jp" href="https://dev1lroot.com/jp/">
  


<script type="text/javascript" >
  const initial_page = "";
</script>
<script type="text/javascript" src="/assets/scripts/vue.min.js"></script>
<script type="text/javascript" src="/assets/scripts/classes/Slideshow.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js" defer></script>
<script type="text/javascript" src="/assets/scripts/background.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="application/ld+json">


{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "David von Eichendorf",
  "alternateName": "Dev1lroot",
  "jobTitle": "Software Developer",
  "url": "https://dev1lroot.com/en/",
  "image": "https://dev1lroot.com/assets/images/me.png",
  "sameAs": [
    
    "https://x.com/DavyBoyAB",
    
    "https://www.instagram.com/davyboyab/",
    
    "https://ko-fi.com/davideichendorf",
    
    "https://ngl.link/davyboyab",
    
    "https://www.linkedin.com/in/david-eichendorf-79aa7a25a/",
    
    "https://github.com/dev1lroot",
    
    "https://soundcloud.com/dev1lroot",
    
    "https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ",
    
    "https://sketchfab.com/dev1lroot",
    
    "https://www.deviantart.com/dev1lroot",
    
    "https://t.me/dev1lroot",
    
    "https://steamcommunity.com/id/dev1lroot/"
    
  ],
  "knowsLanguage": ["Russian", "English"],
  "birthDate": "1999-04-25",
  "email": "mailto:admin@dev1lroot.com",
  "telephone": "+33780093303",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Saint-Brieuc",
    "addressCountry": "FR"
  },
  "description": "ABDL 🌈 | Gay 🏳️‍🌈 | Software Developer ⚙️ | Refugee 🇫🇷 | Founder of Adultbaby.ru | Creator of SIZO-SIM | I Stand with Ukraine 🇺🇦"
}




</script>
  
</head>
<body>
  <main>
    <dialog v-if="dialogs.includes('languages')">
    <div class="header">
        <h2>Select Language</h2>
        <button class="close" @click="closeDialog('languages')"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="languages">
        
        <a alt="English" href="/en/">
            <i style="background-image: url(/assets/flags/gb.svg)"></i>
            <span>English</span>
        </a>
        
        <a alt="Español" href="/es/">
            <i style="background-image: url(/assets/flags/es.svg)"></i>
            <span>Español</span>
        </a>
        
        <a alt="Français" href="/fr/">
            <i style="background-image: url(/assets/flags/fr.svg)"></i>
            <span>Français</span>
        </a>
        
        <a alt="Deutsch" href="/de/">
            <i style="background-image: url(/assets/flags/de.svg)"></i>
            <span>Deutsch</span>
        </a>
        
        <a alt="Українська" href="/uk/">
            <i style="background-image: url(/assets/flags/ua.svg)"></i>
            <span>Українська</span>
        </a>
        
        <a alt="Русский" href="/ru/">
            <i style="background-image: url(/assets/flags/ru.svg)"></i>
            <span>Русский</span>
        </a>
        
        <a alt="עִבְרִית" href="/he/">
            <i style="background-image: url(/assets/flags/il.svg)"></i>
            <span>עִבְרִית</span>
        </a>
        
        <a alt="العربية" href="/ar/">
            <i style="background-image: url(/assets/flags/ae.svg)"></i>
            <span>العربية</span>
        </a>
        
        <a alt="हिन्दी" href="/hi/">
            <i style="background-image: url(/assets/flags/in.svg)"></i>
            <span>हिन्दी</span>
        </a>
        
        <a alt="中文" href="/zh/">
            <i style="background-image: url(/assets/flags/cn.svg)"></i>
            <span>中文</span>
        </a>
        
        <a alt="한국어" href="/ko/">
            <i style="background-image: url(/assets/flags/kr.svg)"></i>
            <span>한국어</span>
        </a>
        
        <a alt="日本語" href="/jp/">
            <i style="background-image: url(/assets/flags/jp.svg)"></i>
            <span>日本語</span>
        </a>
        
    </div>            
</dialog>
    
      
          <section class="menu right-handed">
    <nav>
        <a href="/downloads/cv_en-GB.pdf" download="cv.pdf">
          
            <i class="fa-solid fa-download"></i>
            <span>Download CV</span>
          
        </a>
        
        <a :class="(page == '') ? 'active' : ''" @click="setPage('en','')">
          
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
          
        </a>
        
        <a :class="(page == 'activity') ? 'active' : ''" @click="setPage('en','activity')">
          
            <i class="fa-solid fa-person-running"></i>
            <span>Activity</span>
          
        </a>
        
        <a :class="(page == 'bio') ? 'active' : ''" @click="setPage('en','bio')">
          
            <i class="fa-solid fa-book-skull"></i>
            <span>Bio</span>
          
        </a>
        
        <a :class="(page == 'projects') ? 'active' : ''" @click="setPage('en','projects')">
          
            <i class="fa-solid fa-code-branch"></i>
            <span>Projects</span>
          
        </a>
        
        <a :class="(page == 'contact_me') ? 'active' : ''" @click="setPage('en','contact_me')">
          
            <i class="fa-solid fa-envelope"></i>
            <span>Contact Me</span>
          
        </a>
        
    </nav>
</section>
          <section class="page" id="page-wrapper">
    <div class="header right-handed">
  
    <h1>David von Eichendorf</h1>
    <a @click="openDialog('languages')" class="language-button">
  
    
      <span>English</span>
      <i style="background-image: url(/assets/flags/gb.svg);"></i>
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</a>
  
</div>
    <div class="profile">
    <img class="photo" src="/assets/images/me.png">
    <div class="about">ABDL 🌈 | Gay 🏳️‍🌈 | Software Developer ⚙️ | Refugee 🇫🇷 | Founder of Adultbaby.ru | Creator of SIZO-SIM | I Stand with Ukraine 🇺🇦</div>
</div>
    <div class="socials">
  
    
      <a href="https://x.com/DavyBoyAB" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    
  
    
      <a href="https://www.instagram.com/davyboyab/" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    
  
    
      <a href="https://ko-fi.com/davideichendorf" title="Ko-fi"><i class="fa-solid fa-mug-hot"></i></a>
    
  
    
      <a href="https://ngl.link/davyboyab" title="NGL"><i class="fa-solid fa-question"></i></a>
    
  
    
      <a href="https://www.linkedin.com/in/david-eichendorf-79aa7a25a/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    
  
    
      <a href="https://github.com/dev1lroot" title="GitHub"><i class="fa-brands fa-github"></i></a>
    
  
    
      <a href="https://soundcloud.com/dev1lroot" title="SoundCloud"><i class="fa-brands fa-soundcloud"></i></a>
    
  
    
      <a href="https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    
  
    
      <a href="https://sketchfab.com/dev1lroot" title="Sketchfab"><i class="fa-solid fa-cube"></i></a>
    
  
    
      <a href="https://www.deviantart.com/dev1lroot" title="DeviantArt"><i class="fa-brands fa-deviantart"></i></a>
    
  
    
      <a href="https://t.me/dev1lroot" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
    
  
    
      <a href="https://steamcommunity.com/id/dev1lroot/" title="Steam"><i class="fa-brands fa-steam"></i></a>
    
  
</div>
    <div class="content right-handed">
        <div class="feed" v-if="page == ''">
          
            
              <article class="post">
                  <p>As a refugee from Russia, I call on the so-called western governments, the European Union, Canada, and other democratic societies to address an alarming reality: pro-Russian media funded by oligarchs and the state continue to operate freely within Europe and America, spreading propaganda and misinformation. Meanwhile, any journalist attempting to speak freely in Russia faces imprisonment, torture, or even death. Allowing such channels a voice here, while their government silences dissent at home, is a betrayal of the values that define free societies.
<br><br>
Freedom of speech must work both ways. When the Russian government blatantly disregards public agreements, such as upholding human rights, we must reassess the freedoms we extend to its advocates within our borders. Granting pro-Russian media the liberties their own country denies its citizens undermines our principles and security alike.
<br><br>
As societies built on the values of free speech, free thought, and open information, we must ensure these freedoms are mutually respected. We limit the rights of individuals who cross ethical and legal boundaries; this is why we have a justice system. Yet, we hesitate to place the same restrictions on a terrorist state that disregards fundamental human rights, undermines our societal stability, and, through its intelligence services, commits violent acts even within free nations. From the tragic Skripal incident to countless other examples, the threat is clear.
<br><br>
For those of us who have fled persecution, it is devastating to witness the West’s tolerance of forces that trample on basic freedoms. It feels like witnessing a re-legitimization of historical atrocities in front of the very people who have suffered from them. Just as rehumanizing the Holocaust would be an affront to Jewish communities worldwide, tolerating pro-Russian propaganda in free societies is an affront to those of us who have endured state-sanctioned oppression.
<br><br>
Russia’s flirtation with far-right movements in Europe and America is as hypocritical as it is alarming. While the Kremlin claims to be on a crusade against so-called "Nazis" in Ukraine, it eagerly courts neo-fascist and ultranationalist allies abroad. This twisted alignment underscores a disturbing truth: Russian political ideology today is a breeding ground for xenophobic and racist policies, often aligning directly with the core tenets of these far-right groups.
<br><br>
In Europe and the U.S., these far-right factions, championing anti-immigrant (for real of racism) and anti-LGBT agendas, echo sentiments regularly voiced by Russian leaders. It is no secret that Russia’s domestic policies are notoriously repressive, especially towards LGBTQ+ individuals and some religious minority communities. Racism under the guise of so-called "protecting the jobs" and xenophobia under the guise of protecting the so-called “traditional values and family” are normalized and even carved in stone by law. Far-right groups in the West look to Russia as a model for how to “reclaim” their countries from so-called "liberal rot". This dangerous synergy goes beyond words; it actively erodes democratic values and fuels authoritarianism on both sides.
<br><br>
The similarities between far-right agendas in the West and Russian nationalism are staggering. Russia and western far-right leaders share a chilling vision of society: one devoid of diversity, steeped in intolerance, and controlled by authoritarian rule. By aligning with the Kremlin, Western far-right movements effectively endorse Russia’s oppressive policies, lending credibility to a regime that routinely silences dissent and enforces rigid social conformity.
<br><br>
This growing admiration for repressive values threatens to drag the Western world back to a time when totalitarianism ruled and freedom was a foreign concept. The values of tolerance, diversity, and human rights - the cornerstones of liberal democracy - are now at risk. By embracing Russia, the far-right tacitly endorses a world order that marginalizes the vulnerable and criminalizes difference. This alliance does not just undermine Western values; it actively poisons them, making international organisations and treaties useless.
<br><br>
In a number of Western countries, including some European Union member states, certain political figures, such as Viktor Orbán, have been reported, according to a number of independent journalistic investigations and analytical reports, to be involved in corruption schemes and maintain close ties to Russian interests. These politicians have been seen actively undermining strategic decisions within institutions like the EU and NATO. Such actions often appear to betray the very values these bodies were established to protect.
<br><br>
These figures frequently block critical initiatives, especially when these actions contradict Russian interests: from halting Ukraine, Moldova, and Georgia’s entry into NATO at crucial moments, to sabotaging military aid and delaying EU membership processes. Their actions are not isolated; they reflect a broader agenda to weaken these alliances from within, aligning with Russian interests over democratic principles.
<br><br>
This manipulation sets a dangerous precedent, eroding unity and compromising the stability and security these institutions are meant to uphold.</p>
                  <p class="post-date"><b v-html="new Date(0).toLocaleDateString()"></b></p>
              </article>
            
          
            
          
            
          
        </div>
        <div class="feed" v-if="page == 'projects'">
          
            <article>
                <h3><a href="/en/projects/russian-detention-simulator/">Russian Detention Simulator</a></h3>
                <p>Russian Prison Simulator, based on my story of imprisonment, with my own prison cell</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Unreal Engine 5">Unreal Engine 5</a>
                  
                  <a href="https://google.com/?q=Games">Games</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/en/projects/database-designer/">Relational Database Designer</a></h3>
                <p>Free Database Designer for relational databases (only innodb syntax is supported for now)</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/en/projects/machine-readable-travel-document-editor/">ICAO-9303 MRTD Editor Software</a></h3>
                <p>ICAO-9303 Machine Readable Travel Documents designing and development software</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Vue">Vue</a>
                  
                  <a href="https://google.com/?q=Javascript">Javascript</a>
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/en/projects/command-line-mineswepper-on-nim/">Commandline Minesweeper</a></h3>
                <p>A Commandline Minesweeper example written in Nim programming Language</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/en/projects/fallout-like-termlink-emulator/">Termlink Emulator</a></h3>
                <p>CLI emulator of RobCo Industries (TM) TermLink from the Fallout series. Created by a fan for fans. Includes hacking and custom menu mapping. All Fallout trademarks belong to Bethesda Softworks. This software is unofficial and has no affiliation with Bethesda.</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
        </div>
        <div class="contact-form" v-if="page == 'contact_me'">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Email address">
            <textarea placeholder="Your message starts here.."></textarea>
            <button>Send</button>
        </div>
    </div>
</section>
      
    
  </main>
  <canvas id="background" class="background"></canvas>
</body>