<!DOCTYPE html>
<html lang="ar-AE">
<head>
  
      <meta charset="UTF-8">

<meta http-equiv="Content-Language" content="ar-AE">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="ديفيد فون آيشندورف – مطور برامج ومواقع، ناشط سياسي، سجين سياسي سابق، لاجئ في فرنسا، منشئ SIZO-SIM، يدعم أوكرانيا.">
<meta name="keywords" content="ديفيد فون آيشندورف, مطور برامج, مطور ويب, ناشط سياسي, سجين سياسي سابق, لاجئ في فرنسا, SIZO-SIM, ABDL, Gay">
<meta name="author" content="ديفيد فون آيشندورف">
<meta name="robots" content="index, follow">

<meta property="og:title" content="ديفيد فون آيشندورف">
<meta property="og:description" content="ديفيد فون آيشندورف – مطور برامج ومواقع، ناشط سياسي، سجين سياسي سابق، لاجئ في فرنسا، منشئ SIZO-SIM، يدعم أوكرانيا.">
<meta property="og:image" content="/assets/opengraph/placeholder.png">
<meta property="og:url" content="/ar/bio/">

<meta name="twitter:card" content="/assets/opengraph/placeholder.png">
<meta name="twitter:title" content="ديفيد فون آيشندورف">
<meta name="twitter:description" content="ديفيد فون آيشندورف – مطور برامج ومواقع، ناشط سياسي، سجين سياسي سابق، لاجئ في فرنسا، منشئ SIZO-SIM، يدعم أوكرانيا.">
<meta name="twitter:image" content="/assets/opengraph/placeholder.png">
<title>ديفيد فون آيشندورف | السيرة الذاتية</title>
<link rel="canonical" href="/ar/bio/">

<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/fontawesome-free-6.6.0-web/css/all.min.css">


  
    <link rel="alternate" hreflang="en" href="https://dev1lroot.com/en/bio/">
  

  
    <link rel="alternate" hreflang="es" href="https://dev1lroot.com/es/bio/">
  

  
    <link rel="alternate" hreflang="fr" href="https://dev1lroot.com/fr/bio/">
  

  
    <link rel="alternate" hreflang="de" href="https://dev1lroot.com/de/bio/">
  

  
    <link rel="alternate" hreflang="uk" href="https://dev1lroot.com/uk/bio/">
  

  
    <link rel="alternate" hreflang="ru" href="https://dev1lroot.com/ru/bio/">
  

  
    <link rel="alternate" hreflang="he" href="https://dev1lroot.com/he/bio/">
  

  

  
    <link rel="alternate" hreflang="hi" href="https://dev1lroot.com/hi/bio/">
  

  
    <link rel="alternate" hreflang="zh" href="https://dev1lroot.com/zh/bio/">
  

  
    <link rel="alternate" hreflang="ko" href="https://dev1lroot.com/ko/bio/">
  

  
    <link rel="alternate" hreflang="jp" href="https://dev1lroot.com/jp/bio/">
  


<script type="text/javascript" >
  const initial_page = "bio";
</script>
<script type="text/javascript" src="/assets/scripts/vue.min.js"></script>
<script type="text/javascript" src="/assets/scripts/classes/Slideshow.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js" defer></script>
<script type="text/javascript" src="/assets/scripts/background.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="application/ld+json">


{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "ديفيد فون آيشندورف",
  "alternateName": "Dev1lroot",
  "jobTitle": "Software Developer",
  "url": "https://dev1lroot.com/ar/bio/",
  "image": "https://dev1lroot.com/assets/images/me.png",
  "sameAs": [
    
    "https://x.com/DavyBoyAB",
    
    "https://www.instagram.com/davyboyab/",
    
    "https://ko-fi.com/davideichendorf",
    
    "https://ngl.link/davyboyab",
    
    "https://www.linkedin.com/in/david-eichendorf-79aa7a25a/",
    
    "https://github.com/dev1lroot",
    
    "https://soundcloud.com/dev1lroot",
    
    "https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ",
    
    "https://sketchfab.com/dev1lroot",
    
    "https://www.deviantart.com/dev1lroot",
    
    "https://t.me/dev1lroot",
    
    "https://steamcommunity.com/id/dev1lroot/"
    
  ],
  "knowsLanguage": ["Russian", "English"],
  "birthDate": "1999-04-25",
  "email": "mailto:admin@dev1lroot.com",
  "telephone": "+33780093303",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Saint-Brieuc",
    "addressCountry": "FR"
  },
  "description": "ديفيد فون آيشندورف – مطور برامج ومواقع، ناشط سياسي، سجين سياسي سابق، لاجئ في فرنسا، منشئ SIZO-SIM، يدعم أوكرانيا."
}




</script>
  
</head>
<body>
  <main>
    <dialog v-if="dialogs.includes('languages')">
    <div class="header">
        <h2>Select Language</h2>
        <button class="close" @click="closeDialog('languages')"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="languages">
        
        <a alt="English" title="English" href="/en/bio/">
            <i style="background-image: url(/assets/flags/gb.svg)"></i>
            <span>English</span>
        </a>
        
        <a alt="Español" title="Español" href="/es/bio/">
            <i style="background-image: url(/assets/flags/es.svg)"></i>
            <span>Español</span>
        </a>
        
        <a alt="Français" title="Français" href="/fr/bio/">
            <i style="background-image: url(/assets/flags/fr.svg)"></i>
            <span>Français</span>
        </a>
        
        <a alt="Deutsch" title="Deutsch" href="/de/bio/">
            <i style="background-image: url(/assets/flags/de.svg)"></i>
            <span>Deutsch</span>
        </a>
        
        <a alt="Українська" title="Українська" href="/uk/bio/">
            <i style="background-image: url(/assets/flags/ua.svg)"></i>
            <span>Українська</span>
        </a>
        
        <a alt="Русский" title="Русский" href="/ru/bio/">
            <i style="background-image: url(/assets/flags/ru.svg)"></i>
            <span>Русский</span>
        </a>
        
        <a alt="עִבְרִית" title="עִבְרִית" href="/he/bio/">
            <i style="background-image: url(/assets/flags/il.svg)"></i>
            <span>עִבְרִית</span>
        </a>
        
        <a alt="العربية" title="العربية" href="/ar/bio/">
            <i style="background-image: url(/assets/flags/ae.svg)"></i>
            <span>العربية</span>
        </a>
        
        <a alt="हिन्दी" title="हिन्दी" href="/hi/bio/">
            <i style="background-image: url(/assets/flags/in.svg)"></i>
            <span>हिन्दी</span>
        </a>
        
        <a alt="中文" title="中文" href="/zh/bio/">
            <i style="background-image: url(/assets/flags/cn.svg)"></i>
            <span>中文</span>
        </a>
        
        <a alt="한국어" title="한국어" href="/ko/bio/">
            <i style="background-image: url(/assets/flags/kr.svg)"></i>
            <span>한국어</span>
        </a>
        
        <a alt="日本語" title="日本語" href="/jp/bio/">
            <i style="background-image: url(/assets/flags/jp.svg)"></i>
            <span>日本語</span>
        </a>
        
    </div>            
</dialog>
    
      
          <section class="page" id="page-wrapper">
    <div class="header left-handed">
  
    <a @click="openDialog('languages')" class="language-button">
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      <span>العربية</span>
      <i style="background-image: url(/assets/flags/ae.svg);"></i>
    
  
    
  
    
  
    
  
    
  
</a>
    <h1>ديفيد فون آيشندورف</h1>
  
</div>
    <div class="profile">
    <img class="photo" src="/assets/images/me.png">
    <div class="about">🛠️ مهندس | 🎨 مصمم | 💻 مطور برامج | 🇫🇷 لاجئ | ☮︎ ناشط | 🏳️‍🌈 مثلي | 🌸 فمبوي | 🍼 AB/DL | ⛓️ سجين سياسي سابق | 💔 ضحية CSA | أؤيد أوكرانيا 🇺🇦</div>
</div>
    <div class="socials">
  
    
      <a href="https://x.com/DavyBoyAB" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    
  
    
      <a href="https://www.instagram.com/davyboyab/" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    
  
    
      <a href="https://ko-fi.com/davideichendorf" title="Ko-fi"><i class="fa-solid fa-mug-hot"></i></a>
    
  
    
      <a href="https://ngl.link/davyboyab" title="NGL"><i class="fa-solid fa-question"></i></a>
    
  
    
      <a href="https://www.linkedin.com/in/david-eichendorf-79aa7a25a/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    
  
    
      <a href="https://github.com/dev1lroot" title="GitHub"><i class="fa-brands fa-github"></i></a>
    
  
    
      <a href="https://soundcloud.com/dev1lroot" title="SoundCloud"><i class="fa-brands fa-soundcloud"></i></a>
    
  
    
      <a href="https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    
  
    
      <a href="https://sketchfab.com/dev1lroot" title="Sketchfab"><i class="fa-solid fa-cube"></i></a>
    
  
    
      <a href="https://www.deviantart.com/dev1lroot" title="DeviantArt"><i class="fa-brands fa-deviantart"></i></a>
    
  
    
      <a href="https://t.me/dev1lroot" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
    
  
    
      <a href="https://steamcommunity.com/id/dev1lroot/" title="Steam"><i class="fa-brands fa-steam"></i></a>
    
  
</div>
    <div class="content left-handed">
        <div class="feed" v-if="page == ''">
          
            
          
            
          
        </div>
        <div class="feed" v-if="page == 'bio'">
          <article>
            <p><strong>Davy</strong> (b. 25 April 1999, Saint Petersburg, Russia) is a developer, 3D artist, and independent digital content creator. Known for projects in web development, 3D graphics, video game modifications, and creative performances that use game environments as a form of protest. Advocates for human rights, online anonymity, freedom of speech, and LGBT+ rights.</p>
<br>
<h2>Early Life</h2>
<p>From childhood, he was interested in electricity and electronics, spending much time with his electrician grandfather, who encouraged experimentation with devices. In 2010, he moved to the settlement of Dubrovka in Leningrad Oblast, where he worked on 3D graphics and video editing at the local youth film studio. At age 13, he began learning programming: first writing scripts in <code>.bat</code> and <code>.vbs</code>, then creating simple HTML websites. By 17, he had mastered the <strong>PHP/MySQL/HTML/JS</strong> stack and started freelancing.</p>
<br>
<h2>Career</h2>
<p>At 21, he took a job in Tyumen working on a large commercial legacy PHP project involving payment system integration and handling large datasets. He was responsible for API design, database architecture, and documentation. During this period, he fully left his family and came out publicly. He studied <strong>Vue</strong> and Nim, using Python as a supplementary scripting language while criticising its dominance in AI development.</p>
<p>Simultaneously, he worked on personal projects:</p>
<ul>
<li>2D games and game prototypes</li>
<li>Modifications for Garry's Mod:
<ul>
<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2954676697" target="_blank">Alexei Navalny's SHIZO Cell</a></li>
<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2856688403" target="_blank">My Cell in Tyumen Pre-Trial Detention Centre</a></li>
</ul>
</li>
<li>3D game <a href="/en/projects/russian-detention-simulator/" target="_blank">Russian Detention Simulator</a> on Unreal Engine 5.6.0</li>
<li>Launching a <a href="https://adultbaby.ru/" target="_blank">Russian-speaking ABDL community</a></li>
</ul>
<br>
<h2>Civic Position and Emigration</h2>
<p>After the outbreak of the war in Ukraine, he publicly spoke out against Russian war crimes, for which he was sentenced by the Tyumen Regional Court to six months in a colony-settlement. After release, he faced political pressure, searches, and confiscations by the FSB. He left Russia, residing in Armenia and Georgia, and following a worsening political situation in Georgia, obtained a humanitarian visa to France and political asylum. He channels protest through creative performances, believing that games and interactive projects can attract more attention than traditional actions.</p>
<br>
<h2>Skills and Technologies</h2>
<ul>
<li><strong>Languages:</strong> PHP, JavaScript, Nim, Python, C++21, Java</li>
<li><strong>Technologies:</strong> MySQL, HTML, Vue, MongoDB, Node, Ionic Capacitor, Apache Cordova</li>
<li><strong>3D Graphics:</strong> strengths – civil engineering and architectural visualisation; more challenging – organic modelling and animation</li>
<li><strong>Game Development:</strong> Unreal Engine 5.6.0, Garry’s Mod (mods)</li>
<li><strong>Other:</strong> creating rules and documentation, community administration, project management</li>
</ul>
<br>
<h2>Public Activity</h2>
<p>Known as a developer of independent projects and an author of game performances with political and social subtext. He considers digital art and game development an effective tool of activism, capable of influencing public consciousness while bypassing traditional forms of opposition.</p>
<br>
<h2>Political Views and Philosophy</h2>
<p>Devi holds secular and post-nationalist views, advocating the unification of humanity into a technocratic society where national borders and state institutions lose significance. He believes that maintaining linguistic, cultural, and political barriers impedes progress.</p>
<br><p>He opposes private ownership of land and real estate, considering the very idea of land ownership unjust to every newborn human. He condemns monopoly on landholding, supports high taxes on excess residential property, and stricter accountability for real estate speculation.</p>
<br><p>He does not identify as a communist or leftist and criticises the intersectional approach in activism. He believes aid should be provided to those whose beliefs do not involve harming or discriminating against those offering help.</p>
<br><p>Devi considers Russia a terrorist state, his political views shaped by personal experiences of state pressure, imprisonment, and emigration. He opposes militarism and authoritarianism, supports LGBT+ rights, freedom of speech, and the right to online anonymity.</p>
<br><p>He focuses on technological progress as the only path to solving humanity's global problems. He believes that pooling efforts and resources to create new technologies can reduce dependence on oil, minimise environmental damage, and efficiently allocate resources instead of resorting to war and conflict.</p>
<br><p>He considers digital projects and technological initiatives (Mozilla Firefox, Tor, uBlock, YggDrasil, Delta Chat, Matrix) key to preserving freedom and independence from corporations seeking to monopolise the internet.</p>
<br>
<h2>Creative Motivation</h2>
<p>Devi uses video games and interactive projects as a tool for political and social activism, believing that new generations no longer respond to standard forms of protest. He compares this to the transition from newspapers to radio, radio to television, and television to the internet: the format of information reception changes, and the future belongs to future generations.</p>
<br><p>He views activism through technology as "smart activism", often incomprehensible to traditional authorities. His projects, incorporating elements of humour and satire, attract wide attention. This approach allows influence over public consciousness while avoiding direct conflict with repressive structures.</p>
<br><p>Experiences of emigration, difficulties in renting accommodation, and pressure from the FSB have formed a practical understanding of resource monopolisation and freedom restriction, reinforcing the conviction that technology must be used to change society and drive global progress.</p>
<br><p>Devi believes humanity has a greater purpose than creating entertainment content and war, and that technological progress is key to solving social, economic, and environmental challenges.</p>

          </article>
        </div>
        <div class="feed" v-if="page == 'projects'">
          
            <article>
                <h3><a href="/ar/projects/russian-detention-simulator/">محاكي الاحتجاز الروسي</a></h3>
                <p>محاكي السجن الروسي، بناءً على قصة سجني، مع زنزانتي الخاصة</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Unreal Engine 5">Unreal Engine 5</a>
                  
                  <a href="https://google.com/?q=Games">Games</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/ar/projects/database-designer/">مصمم قاعدة بيانات علائقية</a></h3>
                <p>مصمم قاعدة بيانات مجاني لقواعد البيانات العلائقية (مدعوم فقط صياغة innodb حالياً)</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/ar/projects/machine-readable-travel-document-editor/">برنامج محرر MRTD ICAO-9303</a></h3>
                <p>برنامج لتصميم وتطوير مستندات السفر القابلة للقراءة آلياً ICAO-9303</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Vue">Vue</a>
                  
                  <a href="https://google.com/?q=Javascript">Javascript</a>
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/ar/projects/command-line-mineswepper-on-nim/">لعبة Minesweeper عبر سطر الأوامر</a></h3>
                <p>مثال على لعبة Minesweeper عبر سطر الأوامر مكتوبة بلغة Nim</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/ar/projects/fallout-like-termlink-emulator/">محاكي Termlink</a></h3>
                <p>محاكي CLI لـ TermLink من RobCo Industries (TM) من سلسلة Fallout. تم إنشاؤه بواسطة معجب لمحبي اللعبة. يتضمن الاختراق وتخصيص قوائم. جميع العلامات التجارية لفول آوت مملوكة لشركة Bethesda Softworks. هذا البرنامج غير رسمي ولا يرتبط بـ Bethesda.</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
        </div>
        <div class="contact-form" v-if="page == 'contact_me'">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Email address">
            <textarea placeholder="Your message starts here.."></textarea>
            <button>إرسال</button>
        </div>
    </div>
</section>
          <section class="menu left-handed">
    <nav>
        <a href="/downloads/cv_ar-AE.pdf" download="cv.pdf">
          
            <span>السيرة الذاتية</span>
            <i class="fa-solid fa-download"></i>
          
        </a>
        
        <a :class="(page == '') ? 'active' : ''" @click="setPage('ar','')">
          
            <span>الرئيسية</span>
            <i class="fa-solid fa-house"></i>
          
        </a>
        
        <a :class="(page == 'activity') ? 'active' : ''" @click="setPage('ar','activity')">
          
            <span>النشاط</span>
            <i class="fa-solid fa-person-running"></i>
          
        </a>
        
        <a :class="(page == 'bio') ? 'active' : ''" @click="setPage('ar','bio')">
          
            <span>السيرة الذاتية</span>
            <i class="fa-solid fa-book-skull"></i>
          
        </a>
        
        <a :class="(page == 'projects') ? 'active' : ''" @click="setPage('ar','projects')">
          
            <span>المشاريع</span>
            <i class="fa-solid fa-code-branch"></i>
          
        </a>
        
        <a :class="(page == 'contact_me') ? 'active' : ''" @click="setPage('ar','contact_me')">
          
            <span>تواصل معي</span>
            <i class="fa-solid fa-envelope"></i>
          
        </a>
        
    </nav>
</section>
      
    
  </main>
  <canvas id="background" class="background"></canvas>
</body>