<!DOCTYPE html>
<html lang="ja-JP">
<head>
  
      <meta charset="UTF-8">

<meta http-equiv="Content-Language" content="ja-JP">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="デイビッド・フォン・アイヒェンドルフ - Software Developer, Refugee">
<meta name="keywords" content="David, デイビッド・フォン・アイヒェンドルフ, Eichendorf, David Eichendorf, Software Developer, Refugee, Activist">
<meta name="author" content="デイビッド・フォン・アイヒェンドルフ">
<meta name="robots" content="index, follow">

<meta property="og:title" content="デイビッド・フォン・アイヒェンドルフ">
<meta property="og:description" content="デイビッド・フォン・アイヒェンドルフ - Software Developer, Refugee">
<meta property="og:image" content="/assets/opengraph/placeholder.png">
<meta property="og:url" content="[object Object]">

<meta name="twitter:card" content="/assets/opengraph/placeholder.png">
<meta name="twitter:title" content="デイビッド・フォン・アイヒェンドルフ">
<meta name="twitter:description" content="デイビッド・フォン・アイヒェンドルフ - Software Developer, Refugee">
<meta name="twitter:image" content="/assets/opengraph/placeholder.png">
<title>デイビッド・フォン・アイヒェンドルフ | Home</title>
<link rel="canonical" href="/jp/">

<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/fontawesome-free-6.6.0-web/css/all.min.css">


  
    <link rel="alternate" hreflang="en" href="/en/">
  

  
    <link rel="alternate" hreflang="es" href="/es/">
  

  
    <link rel="alternate" hreflang="fr" href="/fr/">
  

  
    <link rel="alternate" hreflang="de" href="/de/">
  

  
    <link rel="alternate" hreflang="ua" href="/ua/">
  

  
    <link rel="alternate" hreflang="ru" href="/ru/">
  

  
    <link rel="alternate" hreflang="he" href="/he/">
  

  
    <link rel="alternate" hreflang="ar" href="/ar/">
  

  
    <link rel="alternate" hreflang="hi" href="/hi/">
  

  
    <link rel="alternate" hreflang="zh" href="/zh/">
  

  
    <link rel="alternate" hreflang="ko" href="/ko/">
  

  


<script type="text/javascript" src="/assets/scripts/vue.global.js"></script>
<script type="text/javascript" src="/assets/scripts/classes/Slideshow.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js" defer></script>
<script type="text/javascript" src="/assets/scripts/background.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
  
</head>
<body>
  <main>
    <dialog v-if="dialogs.includes('languages')">
    <div class="header">
        <h2>Select Language</h2>
        <button class="close" @click="closeDialog('languages')"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="languages">
        
        <a alt="English" href="/en/">
            <i style="background-image: url(/assets/flags/gb.svg)"></i>
            <span>English</span>
        </a>
        
        <a alt="Español" href="/es/">
            <i style="background-image: url(/assets/flags/es.svg)"></i>
            <span>Español</span>
        </a>
        
        <a alt="Français" href="/fr/">
            <i style="background-image: url(/assets/flags/fr.svg)"></i>
            <span>Français</span>
        </a>
        
        <a alt="Deutsch" href="/de/">
            <i style="background-image: url(/assets/flags/de.svg)"></i>
            <span>Deutsch</span>
        </a>
        
        <a alt="Українська" href="/ua/">
            <i style="background-image: url(/assets/flags/ua.svg)"></i>
            <span>Українська</span>
        </a>
        
        <a alt="Русский" href="/ru/">
            <i style="background-image: url(/assets/flags/ru.svg)"></i>
            <span>Русский</span>
        </a>
        
        <a alt="עִבְרִית" href="/he/">
            <i style="background-image: url(/assets/flags/il.svg)"></i>
            <span>עִבְרִית</span>
        </a>
        
        <a alt="العربية" href="/ar/">
            <i style="background-image: url(/assets/flags/ae.svg)"></i>
            <span>العربية</span>
        </a>
        
        <a alt="हिन्दी" href="/hi/">
            <i style="background-image: url(/assets/flags/in.svg)"></i>
            <span>हिन्दी</span>
        </a>
        
        <a alt="中文" href="/zh/">
            <i style="background-image: url(/assets/flags/cn.svg)"></i>
            <span>中文</span>
        </a>
        
        <a alt="한국어" href="/ko/">
            <i style="background-image: url(/assets/flags/kr.svg)"></i>
            <span>한국어</span>
        </a>
        
        <a alt="日本語" href="/jp/">
            <i style="background-image: url(/assets/flags/jp.svg)"></i>
            <span>日本語</span>
        </a>
        
    </div>            
</dialog>
    
      
          <section class="menu right-handed">
    <nav>
        <a href="/downloads/cv_ja-JP.pdf" download="cv.pdf">
          
            <i class="fa-solid fa-download"></i>
            <span>履歴書を取得</span>
          
        </a>
        
        <a :class="(page == '') ? 'active' : ''" @click="setPage('jp','')">
          
            <i class="fa-solid fa-house"></i>
            <span>ホーム</span>
          
        </a>
        
        <a :class="(page == 'activity') ? 'active' : ''" @click="setPage('jp','activity')">
          
            <i class="fa-solid fa-person-running"></i>
            <span>アクティビティ</span>
          
        </a>
        
        <a :class="(page == 'bio') ? 'active' : ''" @click="setPage('jp','bio')">
          
            <i class="fa-solid fa-book-skull"></i>
            <span>略歴</span>
          
        </a>
        
        <a :class="(page == 'projects') ? 'active' : ''" @click="setPage('jp','projects')">
          
            <i class="fa-solid fa-code-branch"></i>
            <span>プロジェクト</span>
          
        </a>
        
        <a :class="(page == 'contact_me') ? 'active' : ''" @click="setPage('jp','contact_me')">
          
            <i class="fa-solid fa-envelope"></i>
            <span>お問い合わせ</span>
          
        </a>
        
    </nav>
</section>
          <section class="page" id="page-wrapper">
    <div class="header right-handed">
  
    <h1>デイビッド・フォン・アイヒェンドルフ</h1>
    <a @click="openDialog('languages')" class="language-button">
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      日本語
      <i style="background-image: url(/assets/flags/jp.svg);"></i>
    
  
</a>
  
</div>
    <div class="profile">
    <img class="photo" src="/assets/images/me.png">
    <div class="about">ABDL 🌈 | ゲイ 🏳️‍🌈 | ソフトウェア開発者 ⚙️ | 難民 🇫🇷 | Adultbaby.ru 創設者 | SIZO-SIM 作成者 | ウクライナを支援 🇺🇦</div>
</div>
    <div class="socials">
  
    
      <a href="https://x.com/DavyBoyAB" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    
  
    
      <a href="https://www.instagram.com/davyboyab/" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    
  
    
      <a href="https://ko-fi.com/davideichendorf" title="Ko-fi"><i class="fa-solid fa-mug-hot"></i></a>
    
  
    
      <a href="https://ngl.link/davyboyab" title="NGL"><i class="fa-solid fa-question"></i></a>
    
  
    
      <a href="https://www.linkedin.com/in/david-eichendorf-79aa7a25a/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    
  
    
      <a href="https://github.com/dev1lroot" title="GitHub"><i class="fa-brands fa-github"></i></a>
    
  
    
      <a href="https://soundcloud.com/dev1lroot" title="SoundCloud"><i class="fa-brands fa-soundcloud"></i></a>
    
  
    
      <a href="https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    
  
    
      <a href="https://sketchfab.com/dev1lroot" title="Sketchfab"><i class="fa-solid fa-cube"></i></a>
    
  
    
      <a href="https://www.deviantart.com/dev1lroot" title="DeviantArt"><i class="fa-brands fa-deviantart"></i></a>
    
  
    
      <a href="https://t.me/dev1lroot" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
    
  
    
      <a href="https://steamcommunity.com/id/dev1lroot/" title="Steam"><i class="fa-brands fa-steam"></i></a>
    
  
</div>
    <div class="content right-handed">
        <div class="feed" v-if="page == ''">
          
            
          
            
          
            
          
        </div>
        <div class="feed" v-if="page == 'projects'">
          
            <article>
                <h3><a href="/jp/projects/russian-detention-simulator/">ロシア拘留シミュレーター</a></h3>
                <p>ロシア刑務所シミュレーター、私の投獄体験に基づき、私の独自の独房付き</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Unreal Engine 5">Unreal Engine 5</a>
                  
                  <a href="https://google.com/?q=Games">Games</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/jp/projects/database-designer/">リレーショナルデータベースデザイナー</a></h3>
                <p>リレーショナルデータベース用の無料デザイナー（現在はInnoDB構文のみサポート）</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/jp/projects/machine-readable-travel-document-editor/">ICAO-9303 MRTD エディターソフトウェア</a></h3>
                <p>ICAO-9303 機械可読渡航文書の設計・開発ソフトウェア</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Vue">Vue</a>
                  
                  <a href="https://google.com/?q=Javascript">Javascript</a>
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/jp/projects/command-line-mineswepper-on-nim/">コマンドラインマインスイーパー</a></h3>
                <p>Nimプログラミング言語で書かれたコマンドラインマインスイーパーの例</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/jp/projects/fallout-like-termlink-emulator/">Termlink エミュレーター</a></h3>
                <p>FalloutシリーズのRobCo Industries (TM) TermLinkのCLIエミュレーター。ファンによるファンのための制作。ハッキングとカスタムメニューのマッピングを含む。すべてのFallout商標はBethesda Softworksの所有。このソフトウェアは非公式でBethesdaとは無関係です。</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
        </div>
        <div class="contact-form" v-if="page == 'contact_me'">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Email address">
            <textarea placeholder="Your message starts here.."></textarea>
            <button>送信</button>
        </div>
    </div>
</section>
      
    
  </main>
  <canvas id="background" class="background"></canvas>
</body>