<!DOCTYPE html>
<html lang="he-IL">
<head>
  
      <meta charset="UTF-8">

<meta http-equiv="Content-Language" content="he-IL">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="דוד פון איכנדורף - Software Developer, Refugee">
<meta name="keywords" content="David, דוד פון איכנדורף, Eichendorf, David Eichendorf, Software Developer, Refugee, Activist">
<meta name="author" content="דוד פון איכנדורף">
<meta name="robots" content="index, follow">

<meta property="og:title" content="דוד פון איכנדורף">
<meta property="og:description" content="דוד פון איכנדורף - Software Developer, Refugee">
<meta property="og:image" content="/assets/opengraph/placeholder.png">
<meta property="og:url" content="[object Object]">

<meta name="twitter:card" content="/assets/opengraph/placeholder.png">
<meta name="twitter:title" content="דוד פון איכנדורף">
<meta name="twitter:description" content="דוד פון איכנדורף - Software Developer, Refugee">
<meta name="twitter:image" content="/assets/opengraph/placeholder.png">
<title>דוד פון איכנדורף | פרויקטים</title>
<link rel="canonical" href="/he/projects/">

<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/fontawesome-free-6.6.0-web/css/all.min.css">


  
    <link rel="alternate" hreflang="en" href="/en/projects/">
  

  
    <link rel="alternate" hreflang="es" href="/es/projects/">
  

  
    <link rel="alternate" hreflang="fr" href="/fr/projects/">
  

  
    <link rel="alternate" hreflang="de" href="/de/projects/">
  

  
    <link rel="alternate" hreflang="ua" href="/ua/projects/">
  

  
    <link rel="alternate" hreflang="ru" href="/ru/projects/">
  

  

  
    <link rel="alternate" hreflang="ar" href="/ar/projects/">
  

  
    <link rel="alternate" hreflang="hi" href="/hi/projects/">
  

  
    <link rel="alternate" hreflang="zh" href="/zh/projects/">
  

  
    <link rel="alternate" hreflang="ko" href="/ko/projects/">
  

  
    <link rel="alternate" hreflang="jp" href="/jp/projects/">
  


<script type="text/javascript" >
  const initial_page = "projects";
</script>
<script type="text/javascript" src="/assets/scripts/vue.min.js"></script>
<script type="text/javascript" src="/assets/scripts/classes/Slideshow.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js" defer></script>
<script type="text/javascript" src="/assets/scripts/background.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
  
</head>
<body>
  <main>
    <dialog v-if="dialogs.includes('languages')">
    <div class="header">
        <h2>Select Language</h2>
        <button class="close" @click="closeDialog('languages')"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="languages">
        
        <a alt="English" href="/en/projects/">
            <i style="background-image: url(/assets/flags/gb.svg)"></i>
            <span>English</span>
        </a>
        
        <a alt="Español" href="/es/projects/">
            <i style="background-image: url(/assets/flags/es.svg)"></i>
            <span>Español</span>
        </a>
        
        <a alt="Français" href="/fr/projects/">
            <i style="background-image: url(/assets/flags/fr.svg)"></i>
            <span>Français</span>
        </a>
        
        <a alt="Deutsch" href="/de/projects/">
            <i style="background-image: url(/assets/flags/de.svg)"></i>
            <span>Deutsch</span>
        </a>
        
        <a alt="Українська" href="/ua/projects/">
            <i style="background-image: url(/assets/flags/ua.svg)"></i>
            <span>Українська</span>
        </a>
        
        <a alt="Русский" href="/ru/projects/">
            <i style="background-image: url(/assets/flags/ru.svg)"></i>
            <span>Русский</span>
        </a>
        
        <a alt="עִבְרִית" href="/he/projects/">
            <i style="background-image: url(/assets/flags/il.svg)"></i>
            <span>עִבְרִית</span>
        </a>
        
        <a alt="العربية" href="/ar/projects/">
            <i style="background-image: url(/assets/flags/ae.svg)"></i>
            <span>العربية</span>
        </a>
        
        <a alt="हिन्दी" href="/hi/projects/">
            <i style="background-image: url(/assets/flags/in.svg)"></i>
            <span>हिन्दी</span>
        </a>
        
        <a alt="中文" href="/zh/projects/">
            <i style="background-image: url(/assets/flags/cn.svg)"></i>
            <span>中文</span>
        </a>
        
        <a alt="한국어" href="/ko/projects/">
            <i style="background-image: url(/assets/flags/kr.svg)"></i>
            <span>한국어</span>
        </a>
        
        <a alt="日本語" href="/jp/projects/">
            <i style="background-image: url(/assets/flags/jp.svg)"></i>
            <span>日本語</span>
        </a>
        
    </div>            
</dialog>
    
      
          <section class="page" id="page-wrapper">
    <div class="header left-handed">
  
    <a @click="openDialog('languages')" class="language-button">
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      <span>עִבְרִית</span>
      <i style="background-image: url(/assets/flags/il.svg);"></i>
    
  
    
  
    
  
    
  
    
  
    
  
</a>
    <h1>דוד פון איכנדורף</h1>
  
</div>
    <div class="profile">
    <img class="photo" src="/assets/images/me.png">
    <div class="about">ABDL 🌈 | גיי 🏳️‍🌈 | מפתח תוכנה ⚙️ | פליט 🇫🇷 | מייסד Adultbaby.ru | יוצר SIZO-SIM | תומך באוקראינה 🇺🇦</div>
</div>
    <div class="socials">
  
    
      <a href="https://x.com/DavyBoyAB" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    
  
    
      <a href="https://www.instagram.com/davyboyab/" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    
  
    
      <a href="https://ko-fi.com/davideichendorf" title="Ko-fi"><i class="fa-solid fa-mug-hot"></i></a>
    
  
    
      <a href="https://ngl.link/davyboyab" title="NGL"><i class="fa-solid fa-question"></i></a>
    
  
    
      <a href="https://www.linkedin.com/in/david-eichendorf-79aa7a25a/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    
  
    
      <a href="https://github.com/dev1lroot" title="GitHub"><i class="fa-brands fa-github"></i></a>
    
  
    
      <a href="https://soundcloud.com/dev1lroot" title="SoundCloud"><i class="fa-brands fa-soundcloud"></i></a>
    
  
    
      <a href="https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    
  
    
      <a href="https://sketchfab.com/dev1lroot" title="Sketchfab"><i class="fa-solid fa-cube"></i></a>
    
  
    
      <a href="https://www.deviantart.com/dev1lroot" title="DeviantArt"><i class="fa-brands fa-deviantart"></i></a>
    
  
    
      <a href="https://t.me/dev1lroot" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
    
  
    
      <a href="https://steamcommunity.com/id/dev1lroot/" title="Steam"><i class="fa-brands fa-steam"></i></a>
    
  
</div>
    <div class="content left-handed">
        <div class="feed" v-if="page == ''">
          
            
          
            
          
            
          
        </div>
        <div class="feed" v-if="page == 'projects'">
          
            <article>
                <h3><a href="/he/projects/russian-detention-simulator/">סימולטור מעצר רוסי</a></h3>
                <p>סימולטור כלא רוסי, מבוסס על סיפור המאסר שלי, עם תא כלא אישי</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Unreal Engine 5">Unreal Engine 5</a>
                  
                  <a href="https://google.com/?q=Games">Games</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/he/projects/database-designer/">מעצב מסדי נתונים יחסיים</a></h3>
                <p>מעצב מסדי נתונים חינמי למסדי נתונים יחסיים (תמיכה כרגע רק בסינטקס innodb)</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/he/projects/machine-readable-travel-document-editor/">תוכנת עורך MRTD ICAO-9303</a></h3>
                <p>תוכנה לעיצוב ופיתוח מסמכי נסיעה לקריאה מכנית ICAO-9303</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Vue">Vue</a>
                  
                  <a href="https://google.com/?q=Javascript">Javascript</a>
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/he/projects/command-line-mineswepper-on-nim/">מיינסוויפר שורת פקודה</a></h3>
                <p>דוגמה ל-Minesweeper בשורת הפקודה שנכתבה בשפת Nim</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/he/projects/fallout-like-termlink-emulator/">אמולטור Termlink</a></h3>
                <p>אמולטור CLI של TermLink מחברת RobCo Industries (TM) מסדרת Fallout. נוצר על ידי מעריץ למעריצים. כולל פריצה ומיפוי תפריטים מותאם אישית. כל סימני המסחר של Fallout שייכים ל-Bethesda Softworks. תוכנה זו אינה רשמית ואינה קשורה ל-Bethesda.</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
        </div>
        <div class="contact-form" v-if="page == 'contact_me'">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Email address">
            <textarea placeholder="Your message starts here.."></textarea>
            <button>שלח</button>
        </div>
    </div>
</section>
          <section class="menu left-handed">
    <nav>
        <a href="/downloads/cv_he-IL.pdf" download="cv.pdf">
          
            <span>הורדת קורות חיים</span>
            <i class="fa-solid fa-download"></i>
          
        </a>
        
        <a :class="(page == '') ? 'active' : ''" @click="setPage('he','')">
          
            <span>דף הבית</span>
            <i class="fa-solid fa-house"></i>
          
        </a>
        
        <a :class="(page == 'activity') ? 'active' : ''" @click="setPage('he','activity')">
          
            <span>פעילות</span>
            <i class="fa-solid fa-person-running"></i>
          
        </a>
        
        <a :class="(page == 'bio') ? 'active' : ''" @click="setPage('he','bio')">
          
            <span>ביוגרפיה</span>
            <i class="fa-solid fa-book-skull"></i>
          
        </a>
        
        <a :class="(page == 'projects') ? 'active' : ''" @click="setPage('he','projects')">
          
            <span>פרויקטים</span>
            <i class="fa-solid fa-code-branch"></i>
          
        </a>
        
        <a :class="(page == 'contact_me') ? 'active' : ''" @click="setPage('he','contact_me')">
          
            <span>צור קשר</span>
            <i class="fa-solid fa-envelope"></i>
          
        </a>
        
    </nav>
</section>
      
    
  </main>
  <canvas id="background" class="background"></canvas>
</body>