<!DOCTYPE html>
<html lang="hi-IN">
<head>
  
      <meta charset="UTF-8">

<meta http-equiv="Content-Language" content="hi-IN">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="डेविड वॉन आइचेंडॉर्फ़ - Software Developer, Refugee">
<meta name="keywords" content="David, डेविड वॉन आइचेंडॉर्फ़, Eichendorf, David Eichendorf, Software Developer, Refugee, Activist">
<meta name="author" content="डेविड वॉन आइचेंडॉर्फ़">
<meta name="robots" content="index, follow">

<meta property="og:title" content="डेविड वॉन आइचेंडॉर्फ़">
<meta property="og:description" content="डेविड वॉन आइचेंडॉर्फ़ - Software Developer, Refugee">
<meta property="og:image" content="/assets/opengraph/placeholder.png">
<meta property="og:url" content="[object Object]">

<meta name="twitter:card" content="/assets/opengraph/placeholder.png">
<meta name="twitter:title" content="डेविड वॉन आइचेंडॉर्फ़">
<meta name="twitter:description" content="डेविड वॉन आइचेंडॉर्फ़ - Software Developer, Refugee">
<meta name="twitter:image" content="/assets/opengraph/placeholder.png">
<title>डेविड वॉन आइचेंडॉर्फ़ | जीवनी</title>
<link rel="canonical" href="/hi/bio/">

<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/fontawesome-free-6.6.0-web/css/all.min.css">


  
    <link rel="alternate" hreflang="en" href="/en/bio/">
  

  
    <link rel="alternate" hreflang="es" href="/es/bio/">
  

  
    <link rel="alternate" hreflang="fr" href="/fr/bio/">
  

  
    <link rel="alternate" hreflang="de" href="/de/bio/">
  

  
    <link rel="alternate" hreflang="ua" href="/ua/bio/">
  

  
    <link rel="alternate" hreflang="ru" href="/ru/bio/">
  

  
    <link rel="alternate" hreflang="he" href="/he/bio/">
  

  
    <link rel="alternate" hreflang="ar" href="/ar/bio/">
  

  

  
    <link rel="alternate" hreflang="zh" href="/zh/bio/">
  

  
    <link rel="alternate" hreflang="ko" href="/ko/bio/">
  

  
    <link rel="alternate" hreflang="jp" href="/jp/bio/">
  


<script type="text/javascript" >
  const initial_page = "bio";
</script>
<script type="text/javascript" src="/assets/scripts/vue.min.js"></script>
<script type="text/javascript" src="/assets/scripts/classes/Slideshow.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js" defer></script>
<script type="text/javascript" src="/assets/scripts/background.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
  
</head>
<body>
  <main>
    <dialog v-if="dialogs.includes('languages')">
    <div class="header">
        <h2>Select Language</h2>
        <button class="close" @click="closeDialog('languages')"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="languages">
        
        <a alt="English" href="/en/bio/">
            <i style="background-image: url(/assets/flags/gb.svg)"></i>
            <span>English</span>
        </a>
        
        <a alt="Español" href="/es/bio/">
            <i style="background-image: url(/assets/flags/es.svg)"></i>
            <span>Español</span>
        </a>
        
        <a alt="Français" href="/fr/bio/">
            <i style="background-image: url(/assets/flags/fr.svg)"></i>
            <span>Français</span>
        </a>
        
        <a alt="Deutsch" href="/de/bio/">
            <i style="background-image: url(/assets/flags/de.svg)"></i>
            <span>Deutsch</span>
        </a>
        
        <a alt="Українська" href="/ua/bio/">
            <i style="background-image: url(/assets/flags/ua.svg)"></i>
            <span>Українська</span>
        </a>
        
        <a alt="Русский" href="/ru/bio/">
            <i style="background-image: url(/assets/flags/ru.svg)"></i>
            <span>Русский</span>
        </a>
        
        <a alt="עִבְרִית" href="/he/bio/">
            <i style="background-image: url(/assets/flags/il.svg)"></i>
            <span>עִבְרִית</span>
        </a>
        
        <a alt="العربية" href="/ar/bio/">
            <i style="background-image: url(/assets/flags/ae.svg)"></i>
            <span>العربية</span>
        </a>
        
        <a alt="हिन्दी" href="/hi/bio/">
            <i style="background-image: url(/assets/flags/in.svg)"></i>
            <span>हिन्दी</span>
        </a>
        
        <a alt="中文" href="/zh/bio/">
            <i style="background-image: url(/assets/flags/cn.svg)"></i>
            <span>中文</span>
        </a>
        
        <a alt="한국어" href="/ko/bio/">
            <i style="background-image: url(/assets/flags/kr.svg)"></i>
            <span>한국어</span>
        </a>
        
        <a alt="日本語" href="/jp/bio/">
            <i style="background-image: url(/assets/flags/jp.svg)"></i>
            <span>日本語</span>
        </a>
        
    </div>            
</dialog>
    
      
          <section class="menu right-handed">
    <nav>
        <a href="/downloads/cv_hi-IN.pdf" download="cv.pdf">
          
            <i class="fa-solid fa-download"></i>
            <span>रिज़्यूमे</span>
          
        </a>
        
        <a :class="(page == '') ? 'active' : ''" @click="setPage('hi','')">
          
            <i class="fa-solid fa-house"></i>
            <span>मुखपृष्ठ</span>
          
        </a>
        
        <a :class="(page == 'activity') ? 'active' : ''" @click="setPage('hi','activity')">
          
            <i class="fa-solid fa-person-running"></i>
            <span>गतिविधि</span>
          
        </a>
        
        <a :class="(page == 'bio') ? 'active' : ''" @click="setPage('hi','bio')">
          
            <i class="fa-solid fa-book-skull"></i>
            <span>जीवनी</span>
          
        </a>
        
        <a :class="(page == 'projects') ? 'active' : ''" @click="setPage('hi','projects')">
          
            <i class="fa-solid fa-code-branch"></i>
            <span>परियोजनाएँ</span>
          
        </a>
        
        <a :class="(page == 'contact_me') ? 'active' : ''" @click="setPage('hi','contact_me')">
          
            <i class="fa-solid fa-envelope"></i>
            <span>संपर्क करें</span>
          
        </a>
        
    </nav>
</section>
          <section class="page" id="page-wrapper">
    <div class="header right-handed">
  
    <h1>डेविड वॉन आइचेंडॉर्फ़</h1>
    <a @click="openDialog('languages')" class="language-button">
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      <span>हिन्दी</span>
      <i style="background-image: url(/assets/flags/in.svg);"></i>
    
  
    
  
    
  
    
  
</a>
  
</div>
    <div class="profile">
    <img class="photo" src="/assets/images/me.png">
    <div class="about">ABDL 🌈 | गे 🏳️‍🌈 | सॉफ़्टवेयर डेवलपर ⚙️ | शरणार्थी 🇫🇷 | Adultbaby.ru के संस्थापक | SIZO-SIM के निर्माता | मैं यूक्रेन के साथ हूँ 🇺🇦</div>
</div>
    <div class="socials">
  
    
      <a href="https://x.com/DavyBoyAB" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    
  
    
      <a href="https://www.instagram.com/davyboyab/" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    
  
    
      <a href="https://ko-fi.com/davideichendorf" title="Ko-fi"><i class="fa-solid fa-mug-hot"></i></a>
    
  
    
      <a href="https://ngl.link/davyboyab" title="NGL"><i class="fa-solid fa-question"></i></a>
    
  
    
      <a href="https://www.linkedin.com/in/david-eichendorf-79aa7a25a/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    
  
    
      <a href="https://github.com/dev1lroot" title="GitHub"><i class="fa-brands fa-github"></i></a>
    
  
    
      <a href="https://soundcloud.com/dev1lroot" title="SoundCloud"><i class="fa-brands fa-soundcloud"></i></a>
    
  
    
      <a href="https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    
  
    
      <a href="https://sketchfab.com/dev1lroot" title="Sketchfab"><i class="fa-solid fa-cube"></i></a>
    
  
    
      <a href="https://www.deviantart.com/dev1lroot" title="DeviantArt"><i class="fa-brands fa-deviantart"></i></a>
    
  
    
      <a href="https://t.me/dev1lroot" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
    
  
    
      <a href="https://steamcommunity.com/id/dev1lroot/" title="Steam"><i class="fa-brands fa-steam"></i></a>
    
  
</div>
    <div class="content right-handed">
        <div class="feed" v-if="page == ''">
          
            
          
            
          
            
          
        </div>
        <div class="feed" v-if="page == 'projects'">
          
            <article>
                <h3><a href="/hi/projects/russian-detention-simulator/">रूसी निरोधक सिम्युलेटर</a></h3>
                <p>रूसी जेल सिम्युलेटर, मेरी कारावास कहानी पर आधारित, मेरी खुद की जेल सेल के साथ</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Unreal Engine 5">Unreal Engine 5</a>
                  
                  <a href="https://google.com/?q=Games">Games</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/hi/projects/database-designer/">संबंधित डेटाबेस डिज़ाइनर</a></h3>
                <p>संबंधित डेटाबेस के लिए मुफ्त डेटाबेस डिज़ाइनर (अभी केवल innodb सिंटैक्स समर्थित है)</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/hi/projects/machine-readable-travel-document-editor/">ICAO-9303 MRTD संपादक सॉफ्टवेयर</a></h3>
                <p>ICAO-9303 मशीन-पठनीय यात्रा दस्तावेज़ डिज़ाइन और विकास सॉफ्टवेयर</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Vue">Vue</a>
                  
                  <a href="https://google.com/?q=Javascript">Javascript</a>
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/hi/projects/command-line-mineswepper-on-nim/">कमान्डलाइन माइनस्वीपर</a></h3>
                <p>Nim प्रोग्रामिंग भाषा में लिखा गया कमांडलाइन माइनस्वीपर उदाहरण</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/hi/projects/fallout-like-termlink-emulator/">टर्मलिंक एमुलेटर</a></h3>
                <p>CLI एमुलेटर RobCo Industries (TM) TermLink, Fallout श्रृंखला से। फैन द्वारा फैंस के लिए बनाया गया। इसमें हैकिंग और कस्टम मेनू मैपिंग शामिल है। सभी Fallout ट्रेडमार्क Bethesda Softworks के हैं। यह सॉफ़्टवेयर अनौपचारिक है और Bethesda से संबद्ध नहीं है।</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
        </div>
        <div class="contact-form" v-if="page == 'contact_me'">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Email address">
            <textarea placeholder="Your message starts here.."></textarea>
            <button>भेजें</button>
        </div>
    </div>
</section>
      
    
  </main>
  <canvas id="background" class="background"></canvas>
</body>