<!DOCTYPE html>
<html lang="ru-RU">
<head>
  
      <meta charset="UTF-8">

<meta http-equiv="Content-Language" content="ru-RU">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Дэвид Эйхендорф – программист, веб-разработчик, Активист, Бывший политзаключённый, Беженец во Франции, Создатель Симулятора СИЗО, поддерживает Украину.">
<meta name="keywords" content="Дэвид Эйхендорф, программист, веб-разработчик, политический активист, бывший политзаключённый, беженец во Франции, Симулятор СИЗО, ABDL, Гей">
<meta name="author" content="Дэвид Эйхендорф">
<meta name="robots" content="index, follow">

<meta property="og:title" content="Дэвид Эйхендорф">
<meta property="og:description" content="Дэвид Эйхендорф – программист, веб-разработчик, Активист, Бывший политзаключённый, Беженец во Франции, Создатель Симулятора СИЗО, поддерживает Украину.">
<meta property="og:image" content="/assets/opengraph/placeholder.png">
<meta property="og:url" content="/ru/projects/">

<meta name="twitter:card" content="/assets/opengraph/placeholder.png">
<meta name="twitter:title" content="Дэвид Эйхендорф">
<meta name="twitter:description" content="Дэвид Эйхендорф – программист, веб-разработчик, Активист, Бывший политзаключённый, Беженец во Франции, Создатель Симулятора СИЗО, поддерживает Украину.">
<meta name="twitter:image" content="/assets/opengraph/placeholder.png">
<title>Дэвид Эйхендорф | Проекты</title>
<link rel="canonical" href="/ru/projects/">

<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/fontawesome-free-6.6.0-web/css/all.min.css">


  
    <link rel="alternate" hreflang="en" href="https://dev1lroot.com/en/projects/">
  

  
    <link rel="alternate" hreflang="es" href="https://dev1lroot.com/es/projects/">
  

  
    <link rel="alternate" hreflang="fr" href="https://dev1lroot.com/fr/projects/">
  

  
    <link rel="alternate" hreflang="de" href="https://dev1lroot.com/de/projects/">
  

  
    <link rel="alternate" hreflang="uk" href="https://dev1lroot.com/uk/projects/">
  

  

  
    <link rel="alternate" hreflang="he" href="https://dev1lroot.com/he/projects/">
  

  
    <link rel="alternate" hreflang="ar" href="https://dev1lroot.com/ar/projects/">
  

  
    <link rel="alternate" hreflang="hi" href="https://dev1lroot.com/hi/projects/">
  

  
    <link rel="alternate" hreflang="zh" href="https://dev1lroot.com/zh/projects/">
  

  
    <link rel="alternate" hreflang="ko" href="https://dev1lroot.com/ko/projects/">
  

  
    <link rel="alternate" hreflang="jp" href="https://dev1lroot.com/jp/projects/">
  


<script type="text/javascript" >
  const initial_page = "projects";
</script>
<script type="text/javascript" src="/assets/scripts/vue.min.js"></script>
<script type="text/javascript" src="/assets/scripts/classes/Slideshow.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js" defer></script>
<script type="text/javascript" src="/assets/scripts/background.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="application/ld+json">


{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Дэвид Эйхендорф",
  "alternateName": "Dev1lroot",
  "jobTitle": "Software Developer",
  "url": "https://dev1lroot.com/ru/projects/",
  "image": "https://dev1lroot.com/assets/images/me.png",
  "sameAs": [
    
    "https://x.com/DavyBoyAB",
    
    "https://www.instagram.com/davyboyab/",
    
    "https://ko-fi.com/davideichendorf",
    
    "https://ngl.link/davyboyab",
    
    "https://www.linkedin.com/in/david-eichendorf-79aa7a25a/",
    
    "https://github.com/dev1lroot",
    
    "https://soundcloud.com/dev1lroot",
    
    "https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ",
    
    "https://sketchfab.com/dev1lroot",
    
    "https://www.deviantart.com/dev1lroot",
    
    "https://t.me/dev1lroot",
    
    "https://steamcommunity.com/id/dev1lroot/"
    
  ],
  "knowsLanguage": ["Russian", "English"],
  "birthDate": "1999-04-25",
  "email": "mailto:admin@dev1lroot.com",
  "telephone": "+33780093303",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Saint-Brieuc",
    "addressCountry": "FR"
  },
  "description": "Дэвид Эйхендорф – программист, веб-разработчик, Активист, Бывший политзаключённый, Беженец во Франции, Создатель Симулятора СИЗО, поддерживает Украину."
}




</script>
  
</head>
<body>
  <main>
    <dialog v-if="dialogs.includes('languages')">
    <div class="header">
        <h2>Select Language</h2>
        <button class="close" @click="closeDialog('languages')"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="languages">
        
        <a alt="English" href="/en/projects/">
            <i style="background-image: url(/assets/flags/gb.svg)"></i>
            <span>English</span>
        </a>
        
        <a alt="Español" href="/es/projects/">
            <i style="background-image: url(/assets/flags/es.svg)"></i>
            <span>Español</span>
        </a>
        
        <a alt="Français" href="/fr/projects/">
            <i style="background-image: url(/assets/flags/fr.svg)"></i>
            <span>Français</span>
        </a>
        
        <a alt="Deutsch" href="/de/projects/">
            <i style="background-image: url(/assets/flags/de.svg)"></i>
            <span>Deutsch</span>
        </a>
        
        <a alt="Українська" href="/uk/projects/">
            <i style="background-image: url(/assets/flags/ua.svg)"></i>
            <span>Українська</span>
        </a>
        
        <a alt="Русский" href="/ru/projects/">
            <i style="background-image: url(/assets/flags/ru.svg)"></i>
            <span>Русский</span>
        </a>
        
        <a alt="עִבְרִית" href="/he/projects/">
            <i style="background-image: url(/assets/flags/il.svg)"></i>
            <span>עִבְרִית</span>
        </a>
        
        <a alt="العربية" href="/ar/projects/">
            <i style="background-image: url(/assets/flags/ae.svg)"></i>
            <span>العربية</span>
        </a>
        
        <a alt="हिन्दी" href="/hi/projects/">
            <i style="background-image: url(/assets/flags/in.svg)"></i>
            <span>हिन्दी</span>
        </a>
        
        <a alt="中文" href="/zh/projects/">
            <i style="background-image: url(/assets/flags/cn.svg)"></i>
            <span>中文</span>
        </a>
        
        <a alt="한국어" href="/ko/projects/">
            <i style="background-image: url(/assets/flags/kr.svg)"></i>
            <span>한국어</span>
        </a>
        
        <a alt="日本語" href="/jp/projects/">
            <i style="background-image: url(/assets/flags/jp.svg)"></i>
            <span>日本語</span>
        </a>
        
    </div>            
</dialog>
    
      
          <section class="menu right-handed">
    <nav>
        <a href="/downloads/cv_ru-RU.pdf" download="cv.pdf">
          
            <i class="fa-solid fa-download"></i>
            <span>Моё Резюме</span>
          
        </a>
        
        <a :class="(page == '') ? 'active' : ''" @click="setPage('ru','')">
          
            <i class="fa-solid fa-house"></i>
            <span>Главная</span>
          
        </a>
        
        <a :class="(page == 'activity') ? 'active' : ''" @click="setPage('ru','activity')">
          
            <i class="fa-solid fa-person-running"></i>
            <span>Активность</span>
          
        </a>
        
        <a :class="(page == 'bio') ? 'active' : ''" @click="setPage('ru','bio')">
          
            <i class="fa-solid fa-book-skull"></i>
            <span>Биография</span>
          
        </a>
        
        <a :class="(page == 'projects') ? 'active' : ''" @click="setPage('ru','projects')">
          
            <i class="fa-solid fa-code-branch"></i>
            <span>Проекты</span>
          
        </a>
        
        <a :class="(page == 'contact_me') ? 'active' : ''" @click="setPage('ru','contact_me')">
          
            <i class="fa-solid fa-envelope"></i>
            <span>Связаться</span>
          
        </a>
        
    </nav>
</section>
          <section class="page" id="page-wrapper">
    <div class="header right-handed">
  
    <h1>Дэвид Эйхендорф</h1>
    <a @click="openDialog('languages')" class="language-button">
  
    
  
    
  
    
  
    
  
    
  
    
      <span>Русский</span>
      <i style="background-image: url(/assets/flags/ru.svg);"></i>
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</a>
  
</div>
    <div class="profile">
    <img class="photo" src="/assets/images/me.png">
    <div class="about">АБДЛ 🌈 | Гей 🏳️‍🌈 | Программист ⚙️ | Беженец во 🇫🇷 | Основатель Adultbaby.ru | Создатель SIZO-SIM | Поддерживаю Украину 🇺🇦 | Родился в 🇷🇺</div>
</div>
    <div class="socials">
  
    
      <a href="https://x.com/DavyBoyAB" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    
  
    
      <a href="https://www.instagram.com/davyboyab/" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    
  
    
      <a href="https://ko-fi.com/davideichendorf" title="Ko-fi"><i class="fa-solid fa-mug-hot"></i></a>
    
  
    
      <a href="https://ngl.link/davyboyab" title="NGL"><i class="fa-solid fa-question"></i></a>
    
  
    
      <a href="https://www.linkedin.com/in/david-eichendorf-79aa7a25a/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    
  
    
      <a href="https://github.com/dev1lroot" title="GitHub"><i class="fa-brands fa-github"></i></a>
    
  
    
      <a href="https://soundcloud.com/dev1lroot" title="SoundCloud"><i class="fa-brands fa-soundcloud"></i></a>
    
  
    
      <a href="https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    
  
    
      <a href="https://sketchfab.com/dev1lroot" title="Sketchfab"><i class="fa-solid fa-cube"></i></a>
    
  
    
      <a href="https://www.deviantart.com/dev1lroot" title="DeviantArt"><i class="fa-brands fa-deviantart"></i></a>
    
  
    
      <a href="https://t.me/dev1lroot" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
    
  
    
      <a href="https://steamcommunity.com/id/dev1lroot/" title="Steam"><i class="fa-brands fa-steam"></i></a>
    
  
</div>
    <div class="content right-handed">
        <div class="feed" v-if="page == ''">
          
            
          
        </div>
        <div class="feed" v-if="page == 'bio'">
          <article>
            <p><strong>Дэви</strong> (род. 25 апреля 1999, Санкт-Петербург, Россия) — разработчик, 3D-художник и независимый создатель цифрового контента. Известен своими проектами в веб-разработке, 3D-графике, модификациях видеоигр и творческих перформансах, использующих игровые среды как форму протеста. Выступает за права человека, право на анонимность в интернете, свободу слова и права ЛГБТ-сообщества.</p>
<br>
<h2>Ранние годы</h2>
<p>С детства интересовался электрикой и электроникой, проводя много времени с дедом-электриком, который поощрял эксперименты с приборами. В 2010 году переехал в пгт Дубровка Ленинградской области, где занимался 3D-графикой и видеомонтажом на киностудии при местном ДДЮТ. В 13 лет начал изучать программирование: сначала писал скрипты на <code>.bat</code> и <code>.vbs</code>, затем создавал простые HTML-сайты. К 17 годам освоил стек <strong>PHP/MySQL/HTML/JS</strong> и начал фриланс.</p>
<br>
<h2>Карьера</h2>
<p>В 21 год устроился в Тюмени на работу над крупным коммерческим легаси-проектом на PHP, включавшим интеграцию платёжных систем и работу с большими объёмами данных. Занимался проектированием API, архитектуры баз данных и документацией. В этот период окончательно покинул семью и совершил каминг-аут. Изучал <strong>Vue</strong> и Nim, рассматривал Python как вспомогательный скриптовый язык, критикуя его доминирование в разработке ИИ.</p>
<p>Параллельно работал над личными проектами:</p>
<ul>
<li>2D-игры и игровые прототипы</li>
<li>Модификации для Garry's Mod:
<ul>
<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2954676697" target="_blank">Камера ШИЗО Алексея Навального</a></li>
<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2856688403" target="_blank">Моя камера в Тюменском СИЗО</a></li>
</ul>
</li>
<li>3D-игра <a href="/ru/projects/russian-detention-simulator/" target="_blank">Симулятор СИЗО</a> на Unreal Engine 5.6.0</li>
<li>Запуск <a href="https://adultbaby.ru/" target="_blank">русскоязычного ABDL-сообщества</a></li>
</ul>
<br>
<h2>Гражданская позиция и эмиграция</h2>
<p>После начала войны в Украине публично выступил против российских военных преступлений, за что был приговорён Тюменским областным судом к шести месяцам колонии-поселения. После освобождения подвергался политическому давлению, обыскам и конфискациям со стороны ФСБ. Покинул Россию, проживая в Армении и Грузии, а после ухудшения политической ситуации в Грузии получил гуманитарную визу Франции и политическое убежище. Протесты реализует через творческие перформансы, считая, что игры и интерактивные проекты способны привлечь больше внимания, чем традиционные акции.</p>
<br>
<h2>Навыки и технологии</h2>
<ul>
<li><strong>Языки:</strong> PHP, JavaScript, Nim, Python, C++21, Java</li>
<li><strong>Технологии:</strong> MySQL, HTML, Vue, MongoDB, Node, Ionic Capacitor, Apache Cordova</li>
<li><strong>3D-графика:</strong> сильные стороны — civil engineering и архитектурная визуализация; сложнее — органическое моделирование и анимация</li>
<li><strong>Игровая разработка:</strong> Unreal Engine 5.6.0, Garry’s Mod (моды)</li>
<li><strong>Прочее:</strong> составление правил и документаций, администрирование сообществ, проджект-менеджмент</li>
</ul>
<br>
<h2>Публичная активность</h2>
<p>Известен как разработчик независимых проектов и автор игровых перформансов с политическим и социальным подтекстом. Считает цифровое искусство и геймдев эффективным инструментом активизма, позволяющим воздействовать на общественное сознание, обходя традиционные формы противодействия.</p>
<br>
<h2>Политические взгляды и философия</h2>
<p>Дэви придерживается секулярных и постнационалистических взглядов, выступает за объединение человечества в технократическое общество, где национальные границы и государственные институты утратят своё значение. Он считает, что сохранение языковых, культурных и политических барьеров препятствует прогрессу.</p>
<br><p>Против частной собственности на землю и недвижимость: считает саму идею владения землёй несправедливой по отношению к каждому рождающемуся человеку. Осуждает монополию на землевладение, выступает за высокие налоги на лишнюю жилплощадь и ужесточённую ответственность за спекуляции на рынке недвижимости.</p>
<br><p>Не относит себя к коммунистам или левым, критикует интерсекциональный подход в активизме. Считает, что помощь должна предоставляться тем, чьи убеждения не предполагают уничтожение или дискриминацию оказывающего помощь.</p>
<br><p>Дэви считает Россию террористическим государством, его взгляды на политику укрепились после личного опыта давления со стороны властей, тюремного заключения и эмиграции. Выступает против милитаризма и авторитаризма, за права ЛГБТ-сообщества, свободу слова и право на анонимность в сети.</p>
<br><p>Фокусирует внимание на технологическом прогрессе как единственном пути к решению глобальных проблем человечества. Считает, что объединение сил и ресурсов для создания новых технологий позволит снизить зависимость от нефти, минимизировать экологический ущерб и эффективно распределять ресурсы, вместо войн и конфликта.</p>
<br><p>Считает цифровые проекты и технологические инициативы (Mozilla Firefox, Tor, uBlock, YggDrasil, Delta Chat, Matrix) ключевыми для сохранения свободы и независимости от корпораций, стремящихся к монополизации интернета.</p>
<br>
<h2>Мотивация в творчестве</h2>
<p>Дэви использует видеоигры и интерактивные проекты как инструмент политического и социального активизма, считая, что новые поколения больше не воспринимают стандартные формы протеста. Он сравнивает это с переходом от газет к радио, от радио к телевидению и от телевидения к интернету: формат восприятия информации меняется, и за будущими поколениями будущее.</p>
<br><p>Активизм через технологии он рассматривает как «умный активизм», непонятный традиционным властям. Его проекты с элементами комичности и сатиры привлекают внимание широкой аудитории. Такой подход позволяет воздействовать на общественное сознание, избегая прямого конфликта с репрессивными структурами.</p>
<br><p>Опыт эмиграции, сложности с арендой жилья и давление ФСБ сформировали практическое понимание проблем монополизации ресурсов и ограничения свободы, усилив убеждение в необходимости использовать технологии для изменения общества и глобального прогресса.</p>
<br><p>Дэви верит, что человечество обладает большим предназначением, чем создание развлекательного контента и войны, и что технологический прогресс является ключом к решению социальных, экономических и экологических проблем.</p>

          </article>
        </div>
        <div class="feed" v-if="page == 'projects'">
          
            <article>
                <h3><a href="/ru/projects/russian-detention-simulator/">Симулятор российского СИЗО</a></h3>
                <p>Симулятор российского СИЗО, основанный на моей истории заключения, с моей собственной камерой</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Unreal Engine 5">Unreal Engine 5</a>
                  
                  <a href="https://google.com/?q=Games">Games</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/ru/projects/database-designer/">Дизайнер реляционных баз данных</a></h3>
                <p>Бесплатный дизайнер баз данных для реляционных баз (пока поддерживается только синтаксис innodb)</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/ru/projects/machine-readable-travel-document-editor/">Редактор для MRTD ICAO-9303</a></h3>
                <p>Программное обеспечение для проектирования и разработки машиночитаемых проездных документов ICAO-9303</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Vue">Vue</a>
                  
                  <a href="https://google.com/?q=Javascript">Javascript</a>
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/ru/projects/command-line-mineswepper-on-nim/">Сапер в командной строке</a></h3>
                <p>Пример игры Сапер в командной строке, написанный на языке Nim</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/ru/projects/fallout-like-termlink-emulator/">Эмулятор Termlink</a></h3>
                <p>CLI-эмулятор TermLink от RobCo Industries (TM) из серии Fallout. Создан фанатом для фанатов. Включает взлом и настройку меню. Все торговые марки Fallout принадлежат Bethesda Softworks. Программа неофициальная, не связана с Bethesda.</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
        </div>
        <div class="contact-form" v-if="page == 'contact_me'">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Email address">
            <textarea placeholder="Your message starts here.."></textarea>
            <button>Отправить</button>
        </div>
    </div>
</section>
      
    
  </main>
  <canvas id="background" class="background"></canvas>
</body>