<!DOCTYPE html>
<html lang="fr-FR">
<head>
  
      <meta charset="UTF-8">

<meta http-equiv="Content-Language" content="fr-FR">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="David von Eichendorf - Software Developer, Refugee">
<meta name="keywords" content="David, David von Eichendorf, Eichendorf, David Eichendorf, Software Developer, Refugee, Activist">
<meta name="author" content="David von Eichendorf">
<meta name="robots" content="index, follow">

<meta property="og:title" content="David von Eichendorf">
<meta property="og:description" content="David von Eichendorf - Software Developer, Refugee">
<meta property="og:image" content="/assets/opengraph/placeholder.png">
<meta property="og:url" content="[object Object]">

<meta name="twitter:card" content="/assets/opengraph/placeholder.png">
<meta name="twitter:title" content="David von Eichendorf">
<meta name="twitter:description" content="David von Eichendorf - Software Developer, Refugee">
<meta name="twitter:image" content="/assets/opengraph/placeholder.png">
<title>David von Eichendorf | Home</title>
<link rel="canonical" href="/fr/">

<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/fontawesome-free-6.6.0-web/css/all.min.css">


  
    <link rel="alternate" hreflang="en" href="/en/">
  

  
    <link rel="alternate" hreflang="es" href="/es/">
  

  

  
    <link rel="alternate" hreflang="de" href="/de/">
  

  
    <link rel="alternate" hreflang="ua" href="/ua/">
  

  
    <link rel="alternate" hreflang="ru" href="/ru/">
  

  
    <link rel="alternate" hreflang="he" href="/he/">
  

  
    <link rel="alternate" hreflang="ar" href="/ar/">
  

  
    <link rel="alternate" hreflang="hi" href="/hi/">
  

  
    <link rel="alternate" hreflang="zh" href="/zh/">
  

  
    <link rel="alternate" hreflang="ko" href="/ko/">
  

  
    <link rel="alternate" hreflang="jp" href="/jp/">
  


<script type="text/javascript" src="/assets/scripts/vue.global.js"></script>
<script type="text/javascript" src="/assets/scripts/classes/Slideshow.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js" defer></script>
<script type="text/javascript" src="/assets/scripts/background.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
  
</head>
<body>
  <main>
    <dialog v-if="dialogs.includes('languages')">
    <div class="header">
        <h2>Select Language</h2>
        <button class="close" @click="closeDialog('languages')"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="languages">
        
        <a alt="English" href="/en/">
            <i style="background-image: url(/assets/flags/gb.svg)"></i>
            <span>English</span>
        </a>
        
        <a alt="Español" href="/es/">
            <i style="background-image: url(/assets/flags/es.svg)"></i>
            <span>Español</span>
        </a>
        
        <a alt="Français" href="/fr/">
            <i style="background-image: url(/assets/flags/fr.svg)"></i>
            <span>Français</span>
        </a>
        
        <a alt="Deutsch" href="/de/">
            <i style="background-image: url(/assets/flags/de.svg)"></i>
            <span>Deutsch</span>
        </a>
        
        <a alt="Українська" href="/ua/">
            <i style="background-image: url(/assets/flags/ua.svg)"></i>
            <span>Українська</span>
        </a>
        
        <a alt="Русский" href="/ru/">
            <i style="background-image: url(/assets/flags/ru.svg)"></i>
            <span>Русский</span>
        </a>
        
        <a alt="עִבְרִית" href="/he/">
            <i style="background-image: url(/assets/flags/il.svg)"></i>
            <span>עִבְרִית</span>
        </a>
        
        <a alt="العربية" href="/ar/">
            <i style="background-image: url(/assets/flags/ae.svg)"></i>
            <span>العربية</span>
        </a>
        
        <a alt="हिन्दी" href="/hi/">
            <i style="background-image: url(/assets/flags/in.svg)"></i>
            <span>हिन्दी</span>
        </a>
        
        <a alt="中文" href="/zh/">
            <i style="background-image: url(/assets/flags/cn.svg)"></i>
            <span>中文</span>
        </a>
        
        <a alt="한국어" href="/ko/">
            <i style="background-image: url(/assets/flags/kr.svg)"></i>
            <span>한국어</span>
        </a>
        
        <a alt="日本語" href="/jp/">
            <i style="background-image: url(/assets/flags/jp.svg)"></i>
            <span>日本語</span>
        </a>
        
    </div>            
</dialog>
    
      
          <section class="menu right-handed">
    <nav>
        <a href="/downloads/cv_fr-FR.pdf" download="cv.pdf">
          
            <i class="fa-solid fa-download"></i>
            <span>Télécharger CV</span>
          
        </a>
        
        <a :class="(page == '') ? 'active' : ''" @click="setPage('fr','')">
          
            <i class="fa-solid fa-house"></i>
            <span>Accueil</span>
          
        </a>
        
        <a :class="(page == 'activity') ? 'active' : ''" @click="setPage('fr','activity')">
          
            <i class="fa-solid fa-person-running"></i>
            <span>Activité</span>
          
        </a>
        
        <a :class="(page == 'bio') ? 'active' : ''" @click="setPage('fr','bio')">
          
            <i class="fa-solid fa-book-skull"></i>
            <span>Bio</span>
          
        </a>
        
        <a :class="(page == 'projects') ? 'active' : ''" @click="setPage('fr','projects')">
          
            <i class="fa-solid fa-code-branch"></i>
            <span>Projets</span>
          
        </a>
        
        <a :class="(page == 'contact_me') ? 'active' : ''" @click="setPage('fr','contact_me')">
          
            <i class="fa-solid fa-envelope"></i>
            <span>Me contacter</span>
          
        </a>
        
    </nav>
</section>
          <section class="page" id="page-wrapper">
    <div class="header right-handed">
  
    <h1>David von Eichendorf</h1>
    <a @click="openDialog('languages')" class="language-button">
  
    
  
    
  
    
      Français
      <i style="background-image: url(/assets/flags/fr.svg);"></i>
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</a>
  
</div>
    <div class="profile">
    <img class="photo" src="/assets/images/me.png">
    <div class="about">ABDL 🌈 | Gay 🏳️‍🌈 | Programmeur ⚙️ | Réfugié en 🇫🇷 | Fondateur d&#39;Adultbaby.ru | Créateur de SIZO-SIM | Né en 🇷🇺 | Soutien à l&#39;Ukraine 🇺🇦</div>
</div>
    <div class="socials">
  
    
      <a href="https://x.com/DavyBoyAB" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    
  
    
      <a href="https://www.instagram.com/davyboyab/" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    
  
    
      <a href="https://ko-fi.com/davideichendorf" title="Ko-fi"><i class="fa-solid fa-mug-hot"></i></a>
    
  
    
      <a href="https://ngl.link/davyboyab" title="NGL"><i class="fa-solid fa-question"></i></a>
    
  
    
      <a href="https://www.linkedin.com/in/david-eichendorf-79aa7a25a/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    
  
    
      <a href="https://github.com/dev1lroot" title="GitHub"><i class="fa-brands fa-github"></i></a>
    
  
    
      <a href="https://soundcloud.com/dev1lroot" title="SoundCloud"><i class="fa-brands fa-soundcloud"></i></a>
    
  
    
      <a href="https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    
  
    
      <a href="https://sketchfab.com/dev1lroot" title="Sketchfab"><i class="fa-solid fa-cube"></i></a>
    
  
    
      <a href="https://www.deviantart.com/dev1lroot" title="DeviantArt"><i class="fa-brands fa-deviantart"></i></a>
    
  
    
      <a href="https://t.me/dev1lroot" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
    
  
    
      <a href="https://steamcommunity.com/id/dev1lroot/" title="Steam"><i class="fa-brands fa-steam"></i></a>
    
  
</div>
    <div class="content right-handed">
        <div class="feed" v-if="page == ''">
          
            
          
            
              <article class="post">
                  <p>En tant qu'ancien citoyen de Russie, je soutiens pleinement le discours du président de la République Française. 
L'Europe a besoin de ses propres garanties de sécurité, indépendantes.
<br><br>
Beaucoup d'Européens peuvent penser que la Russie ne représente pas une menace pour eux, mais ce n'est qu'un doux mensonge dans lequel ils vivent. 
La propagande extérieure de la Russie cherche toujours à se présenter sous son meilleur jour aux yeux de l'Europe et des États-Unis, 
tandis qu'à l'intérieur du pays, les chaînes de télévision d'État diffusent chaque jour des idées sur la destruction des soi-disant pays occidentaux.</p>
                  <p class="post-date"><b v-html="new Date(0).toLocaleDateString()"></b></p>
              </article>
            
          
            
              <article class="post">
                  <p>En tant que victime des répressions russes, je ne peux regarder ce qui se passe en Amérique sans un profond sentiment de déception et de colère. 
L’histoire se répète, et l’humanité s’obstine à replonger dans les mêmes abysses.
<br><br>
Comment les Américains ont-ils pu élire un tyran qui piétine toutes les valeurs et les droits sur lesquels repose le monde occidental ? 
Trump n’était qu’à un pas de la prison, et pourtant, vous l’avez remis au pouvoir. Aujourd’hui, il ne se contente pas de précipiter l’Amérique dans le chaos – il menace d’entraîner avec elle le reste du monde.
<br><br>
En sapant les alliances historiques avec l’Europe, le Canada et l’OTAN, il ébranle les fondations mêmes de la démocratie et de la stabilité mondiale. 
Face à cette trahison des principes occidentaux, une question me hante : 
ces gens sont-ils aveuglés au point de devoir subir les mêmes horreurs que moi pour comprendre, 
ou bien ne sont-ils que des marionnettes entre les mains de Poutine ?</p>
                  <p class="post-date"><b v-html="new Date(0).toLocaleDateString()"></b></p>
              </article>
            
          
        </div>
        <div class="feed" v-if="page == 'projects'">
          
            <article>
                <h3><a href="/fr/projects/russian-detention-simulator/">Simulateur de Détention Russe</a></h3>
                <p>Simulateur de prison russe, basé sur mon histoire d&#39;emprisonnement, avec ma propre cellule</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Unreal Engine 5">Unreal Engine 5</a>
                  
                  <a href="https://google.com/?q=Games">Games</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/fr/projects/database-designer/">Concepteur de Bases de Données Relationnelles</a></h3>
                <p>Concepteur de base de données gratuit pour bases relationnelles (seule la syntaxe innodb est prise en charge pour le moment)</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/fr/projects/machine-readable-travel-document-editor/">Logiciel Éditeur MRTD ICAO-9303</a></h3>
                <p>Logiciel de conception et développement de Documents de Voyage Lisibles par Machine ICAO-9303</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Vue">Vue</a>
                  
                  <a href="https://google.com/?q=Javascript">Javascript</a>
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/fr/projects/command-line-mineswepper-on-nim/">Démineur en ligne de commande</a></h3>
                <p>Un exemple de Démineur en ligne de commande écrit en langage de programmation Nim</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/fr/projects/fallout-like-termlink-emulator/">Émulateur Termlink</a></h3>
                <p>Émulateur CLI de TermLink de RobCo Industries (TM) de la série Fallout. Créé par un fan pour les fans. Comprend le piratage et la personnalisation des menus. Toutes les marques Fallout appartiennent à Bethesda Softworks. Ce logiciel est non officiel et n&#39;a aucun lien avec Bethesda.</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
        </div>
        <div class="contact-form" v-if="page == 'contact_me'">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Email address">
            <textarea placeholder="Your message starts here.."></textarea>
            <button>Envoyer</button>
        </div>
    </div>
</section>
      
    
  </main>
  <canvas id="background" class="background"></canvas>
</body>