<!DOCTYPE html>
<html lang="fr-FR">
<head>
  
      <meta charset="UTF-8">

<meta http-equiv="Content-Language" content="fr-FR">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="David von Eichendorf – Développeur web et logiciel, Activiste politique, Ancien prisonnier politique, Réfugié en France, Créateur de SIZO-SIM, soutien l&#39;Ukraine.">
<meta name="keywords" content="David von Eichendorf, développeur logiciel, développeur web, activiste politique, ancien prisonnier politique, réfugié en France, SIZO-SIM, ABDL, Gay">
<meta name="author" content="David von Eichendorf">
<meta name="robots" content="index, follow">

<meta property="og:title" content="David von Eichendorf">
<meta property="og:description" content="David von Eichendorf – Développeur web et logiciel, Activiste politique, Ancien prisonnier politique, Réfugié en France, Créateur de SIZO-SIM, soutien l&#39;Ukraine.">
<meta property="og:image" content="/assets/opengraph/placeholder.png">
<meta property="og:url" content="/fr/">

<meta name="twitter:card" content="/assets/opengraph/placeholder.png">
<meta name="twitter:title" content="David von Eichendorf">
<meta name="twitter:description" content="David von Eichendorf – Développeur web et logiciel, Activiste politique, Ancien prisonnier politique, Réfugié en France, Créateur de SIZO-SIM, soutien l&#39;Ukraine.">
<meta name="twitter:image" content="/assets/opengraph/placeholder.png">
<title>David von Eichendorf | Accueil</title>
<link rel="canonical" href="/fr/">

<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/fontawesome-free-6.6.0-web/css/all.min.css">


  
    <link rel="alternate" hreflang="en" href="https://dev1lroot.com/en/">
  

  
    <link rel="alternate" hreflang="es" href="https://dev1lroot.com/es/">
  

  

  
    <link rel="alternate" hreflang="de" href="https://dev1lroot.com/de/">
  

  
    <link rel="alternate" hreflang="uk" href="https://dev1lroot.com/uk/">
  

  
    <link rel="alternate" hreflang="ru" href="https://dev1lroot.com/ru/">
  

  
    <link rel="alternate" hreflang="he" href="https://dev1lroot.com/he/">
  

  
    <link rel="alternate" hreflang="ar" href="https://dev1lroot.com/ar/">
  

  
    <link rel="alternate" hreflang="hi" href="https://dev1lroot.com/hi/">
  

  
    <link rel="alternate" hreflang="zh" href="https://dev1lroot.com/zh/">
  

  
    <link rel="alternate" hreflang="ko" href="https://dev1lroot.com/ko/">
  

  
    <link rel="alternate" hreflang="jp" href="https://dev1lroot.com/jp/">
  


<script type="text/javascript" >
  const initial_page = "";
</script>
<script type="text/javascript" src="/assets/scripts/vue.min.js"></script>
<script type="text/javascript" src="/assets/scripts/classes/Slideshow.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js" defer></script>
<script type="text/javascript" src="/assets/scripts/background.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="application/ld+json">


{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "David von Eichendorf",
  "alternateName": "Dev1lroot",
  "jobTitle": "Software Developer",
  "url": "https://dev1lroot.com/fr/",
  "image": "https://dev1lroot.com/assets/images/me.png",
  "sameAs": [
    
    "https://x.com/DavyBoyAB",
    
    "https://www.instagram.com/davyboyab/",
    
    "https://ko-fi.com/davideichendorf",
    
    "https://ngl.link/davyboyab",
    
    "https://www.linkedin.com/in/david-eichendorf-79aa7a25a/",
    
    "https://github.com/dev1lroot",
    
    "https://soundcloud.com/dev1lroot",
    
    "https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ",
    
    "https://sketchfab.com/dev1lroot",
    
    "https://www.deviantart.com/dev1lroot",
    
    "https://t.me/dev1lroot",
    
    "https://steamcommunity.com/id/dev1lroot/"
    
  ],
  "knowsLanguage": ["Russian", "English"],
  "birthDate": "1999-04-25",
  "email": "mailto:admin@dev1lroot.com",
  "telephone": "+33780093303",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Saint-Brieuc",
    "addressCountry": "FR"
  },
  "description": "David von Eichendorf – Développeur web et logiciel, Activiste politique, Ancien prisonnier politique, Réfugié en France, Créateur de SIZO-SIM, soutien l&#39;Ukraine."
}




</script>
  
</head>
<body>
  <main>
    <dialog v-if="dialogs.includes('languages')">
    <div class="header">
        <h2>Select Language</h2>
        <button class="close" @click="closeDialog('languages')"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="languages">
        
        <a alt="English" title="English" href="/en/">
            <i style="background-image: url(/assets/flags/gb.svg)"></i>
            <span>English</span>
        </a>
        
        <a alt="Español" title="Español" href="/es/">
            <i style="background-image: url(/assets/flags/es.svg)"></i>
            <span>Español</span>
        </a>
        
        <a alt="Français" title="Français" href="/fr/">
            <i style="background-image: url(/assets/flags/fr.svg)"></i>
            <span>Français</span>
        </a>
        
        <a alt="Deutsch" title="Deutsch" href="/de/">
            <i style="background-image: url(/assets/flags/de.svg)"></i>
            <span>Deutsch</span>
        </a>
        
        <a alt="Українська" title="Українська" href="/uk/">
            <i style="background-image: url(/assets/flags/ua.svg)"></i>
            <span>Українська</span>
        </a>
        
        <a alt="Русский" title="Русский" href="/ru/">
            <i style="background-image: url(/assets/flags/ru.svg)"></i>
            <span>Русский</span>
        </a>
        
        <a alt="עִבְרִית" title="עִבְרִית" href="/he/">
            <i style="background-image: url(/assets/flags/il.svg)"></i>
            <span>עִבְרִית</span>
        </a>
        
        <a alt="العربية" title="العربية" href="/ar/">
            <i style="background-image: url(/assets/flags/ae.svg)"></i>
            <span>العربية</span>
        </a>
        
        <a alt="हिन्दी" title="हिन्दी" href="/hi/">
            <i style="background-image: url(/assets/flags/in.svg)"></i>
            <span>हिन्दी</span>
        </a>
        
        <a alt="中文" title="中文" href="/zh/">
            <i style="background-image: url(/assets/flags/cn.svg)"></i>
            <span>中文</span>
        </a>
        
        <a alt="한국어" title="한국어" href="/ko/">
            <i style="background-image: url(/assets/flags/kr.svg)"></i>
            <span>한국어</span>
        </a>
        
        <a alt="日本語" title="日本語" href="/jp/">
            <i style="background-image: url(/assets/flags/jp.svg)"></i>
            <span>日本語</span>
        </a>
        
    </div>            
</dialog>
    
      
          <section class="menu right-handed">
    <nav>
        <a href="/downloads/cv_fr-FR.pdf" download="cv.pdf">
          
            <i class="fa-solid fa-download"></i>
            <span>Télécharger CV</span>
          
        </a>
        
        <a :class="(page == '') ? 'active' : ''" @click="setPage('fr','')">
          
            <i class="fa-solid fa-house"></i>
            <span>Accueil</span>
          
        </a>
        
        <a :class="(page == 'activity') ? 'active' : ''" @click="setPage('fr','activity')">
          
            <i class="fa-solid fa-person-running"></i>
            <span>Activité</span>
          
        </a>
        
        <a :class="(page == 'bio') ? 'active' : ''" @click="setPage('fr','bio')">
          
            <i class="fa-solid fa-book-skull"></i>
            <span>Bio</span>
          
        </a>
        
        <a :class="(page == 'projects') ? 'active' : ''" @click="setPage('fr','projects')">
          
            <i class="fa-solid fa-code-branch"></i>
            <span>Projets</span>
          
        </a>
        
        <a :class="(page == 'contact_me') ? 'active' : ''" @click="setPage('fr','contact_me')">
          
            <i class="fa-solid fa-envelope"></i>
            <span>Me contacter</span>
          
        </a>
        
    </nav>
</section>
          <section class="page" id="page-wrapper">
    <div class="header right-handed">
  
    <h1>David von Eichendorf</h1>
    <a @click="openDialog('languages')" class="language-button">
  
    
  
    
  
    
      <span>Français</span>
      <i style="background-image: url(/assets/flags/fr.svg);"></i>
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
</a>
  
</div>
    <div class="profile">
    <img class="photo" src="/assets/images/me.png">
    <div class="about">🛠️ Ingénieur | 🎨 Designer | 💻 Programmeur | 🇫🇷 Réfugié | ☮︎ Militant | 🏳️‍🌈 Gay | 🌸 Femboy | 🍼 AB/DL | ⛓️ Ancien prisonnier politique | 💔 Victime de CSA | Soutien à l&#39;Ukraine 🇺🇦</div>
</div>
    <div class="socials">
  
    
      <a href="https://x.com/DavyBoyAB" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    
  
    
      <a href="https://www.instagram.com/davyboyab/" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    
  
    
      <a href="https://ko-fi.com/davideichendorf" title="Ko-fi"><i class="fa-solid fa-mug-hot"></i></a>
    
  
    
      <a href="https://ngl.link/davyboyab" title="NGL"><i class="fa-solid fa-question"></i></a>
    
  
    
      <a href="https://www.linkedin.com/in/david-eichendorf-79aa7a25a/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    
  
    
      <a href="https://github.com/dev1lroot" title="GitHub"><i class="fa-brands fa-github"></i></a>
    
  
    
      <a href="https://soundcloud.com/dev1lroot" title="SoundCloud"><i class="fa-brands fa-soundcloud"></i></a>
    
  
    
      <a href="https://www.youtube.com/channel/UCwqy0PbQfsVXCpuC-f6ROoQ" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    
  
    
      <a href="https://sketchfab.com/dev1lroot" title="Sketchfab"><i class="fa-solid fa-cube"></i></a>
    
  
    
      <a href="https://www.deviantart.com/dev1lroot" title="DeviantArt"><i class="fa-brands fa-deviantart"></i></a>
    
  
    
      <a href="https://t.me/dev1lroot" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
    
  
    
      <a href="https://steamcommunity.com/id/dev1lroot/" title="Steam"><i class="fa-brands fa-steam"></i></a>
    
  
</div>
    <div class="content right-handed">
        <div class="feed" v-if="page == ''">
          
            
              <article class="post">
                  <a href="/fr/article/la-democratie-n-est-pas-une-valeur/"><h2>La démocratie n&#39;est pas une valeur</h2></a>
                  <p><p><strong>1. La démocratie n’est pas une valeur.</strong><br>
	Ce n’est pas un idéal, pas une vertu, pas une boussole morale. C’est un mécanisme froid pour compter les têtes - rien de plus. L’idolâtrer comme quelque chose de supérieur est une illusion.</p>
<br>
<p><strong>2. La démocratie ne garantit pas la prospérité.</strong><br>
	L’histoire regorge de ruines "démocratiques", d’États en faillite, de sociétés pourrissantes d’apathie. Les votes ne créent pas de richesses. Les bulletins ne nourrissent pas les affamés. Les procédures ne sauvent pas des vies.</p>
<br>
<p><strong>3. La démocratie est une violence légalisée.</strong><br>
	Chaque État gouverne par la force. La démocratie ne fait que baptiser cette force du nom de la volonté de la majorité. Une violence qualifiée de "légitime" demeure une violence - brutale, impitoyable, et souvent aveugle.</p>
<br>
<p><strong>4. La démocratie est la tyrannie de la majorité.</strong><br>
	La foule décide, et sa volonté devient absolue. Les minorités peuvent être écrasées, effacées, annihilées - et le système continue de se prétendre "juste". En réalité, ce n’est rien d’autre qu’une oppression autorisée.</p>
<br>
<p><strong>5. La démocratie n’est pas la compassion.</strong><br>
	Les droits et la dignité sont piétinés dès qu’ils entrent en conflit avec les chiffres. Sans institutions et valeurs plus fortes que les votes, la démocratie dégénère en cruauté, et les faibles ne vivent qu’à la merci de la foule.</p>
<br>
<p><strong>6. La démocratie étend l’oppression sans fin.</strong><br>
	Imaginez un feu allumé par la foule. Au début, seules les branches brûlent - les "ennemis évidents". Puis des livres et des pensées sont jetés, car le silence doit régner. Bientôt, ce sont des êtres humains eux-mêmes qu’on jette dans les flammes - des étrangers, puis des dissidents, puis ceux qui se tenaient simplement à l’écart. Chaque pas paraît justifié, chaque expansion inéluctable. La majorité exige toujours une nouvelle victime, jusqu’à ce que ne reste que le feu lui-même.</p>
<br>
<p><strong>Conclusion.</strong><br>
	La démocratie n’est pas sacrée. Ce n’est ni la justice, ni la liberté, ni la sécurité. Elle peut libérer ou massacrer, élever ou dévorer. La véritable mesure d’une société ne se trouve pas dans les bulletins, mais dans son humanité - dans sa volonté de protéger chaque personne, même face à la folie de la majorité.</p>
<br>
<blockquote>
	<p><strong>« La paix n’est pas simplement l’absence de conflit; elle est la création d’un environnement propice à l’épanouissement de tous, indépendamment de la race, de la couleur de peau, de la croyance, de la religion, du sexe, de la classe, de la caste, ou de tout autre marqueur de différence sociale »</strong><br>
	- Nelson Mandela</p>
</blockquote>
</p>
                  <p class="post-date"><b v-html="new Date(1757100873000).toLocaleDateString()"></b></p>
              </article>
            
          
            
              <article class="post">
                  <a href="/fr/article/liberte-d-expression-doit-etre-respectee-mutuellement/"><h2>La liberté d&#39;expression doit être respectée mutuellement</h2></a>
                  <p>En tant que réfugié de Russie, j’appelle les soi-disant gouvernements occidentaux, l’Union européenne, le Canada et d’autres sociétés démocratiques à prendre en compte une réalité alarmante : les médias pro-russes financés par des oligarques et l’État continuent d’opérer librement en Europe et en Amérique, diffusant propagande et désinformation. Pendant ce temps, tout journaliste tentant de s’exprimer librement en Russie s’expose à l’emprisonnement, à la torture ou même à la mort. Permettre à de tels médias d’avoir une voix ici, alors que leur gouvernement réprime toute dissidence chez eux, constitue une trahison des valeurs qui définissent les sociétés libres.
<br><br>
La liberté d’expression doit fonctionner dans les deux sens. Lorsque le gouvernement russe ignore ouvertement les accords publics, comme le respect des droits humains, nous devons réévaluer les libertés que nous accordons à ses partisans sur notre territoire. Accorder aux médias pro-russes les libertés que leur propre pays refuse à ses citoyens sape nos principes et notre sécurité.
<br><br>
En tant que sociétés fondées sur les valeurs de la liberté d’expression, de la pensée libre et de l’accès à l’information, nous devons nous assurer que ces libertés sont respectées mutuellement. Nous limitons les droits des individus qui franchissent les limites éthiques et légales ; c’est pourquoi nous avons un système judiciaire. Pourtant, nous hésitons à appliquer les mêmes restrictions à un État terroriste qui méprise les droits humains fondamentaux, sape notre stabilité sociale et, par le biais de ses services de renseignement, commet des actes violents même dans des nations libres. De l’incident tragique de Skripal à de nombreux autres exemples, la menace est claire.
<br><br>
Pour ceux d’entre nous qui ont fui la persécution, il est dévastateur de constater la tolérance de l’Occident envers des forces qui piétinent les libertés fondamentales. Cela ressemble à une re-légitimation d’atrocités historiques devant les personnes mêmes qui en ont souffert. Tout comme réhumaniser l’Holocauste serait une offense aux communautés juives du monde entier, tolérer la propagande pro-russe dans des sociétés libres constitue une offense pour ceux d’entre nous qui ont subi l’oppression sanctionnée par l’État.
<br><br>
La complicité de la Russie avec les mouvements d’extrême droite en Europe et en Amérique est aussi hypocrite qu’alarmante. Alors que le Kremlin prétend être en croisade contre les soi-disant « nazis » en Ukraine, il courtise avec empressement des alliés néo-fascistes et ultranationalistes à l’étranger. Cet alignement pervers souligne une vérité inquiétante : l’idéologie politique russe contemporaine est un terreau pour des politiques xénophobes et racistes, souvent en accord direct avec les principes fondamentaux de ces groupes d’extrême droite.
<br><br>
En Europe et aux États-Unis, ces factions d’extrême droite, défendant des agendas anti-immigrés et anti-LGBT, reprennent régulièrement des propos tenus par les dirigeants russes. Il n’est pas secret que les politiques intérieures de la Russie sont notoirement répressives, notamment envers les personnes LGBTQ+ et certaines communautés religieuses minoritaires. Le racisme sous couvert de « protection des emplois » et la xénophobie sous couvert de protection des soi-disant « valeurs traditionnelles et familiales » sont normalisés et même gravés dans la loi. Les groupes d’extrême droite en Occident regardent la Russie comme un modèle pour « reprendre » leurs pays à ce qu’ils appellent la « pourriture libérale ». Cette synergie dangereuse dépasse les paroles ; elle érode activement les valeurs démocratiques et alimente l’autoritarisme des deux côtés.
<br><br>
Les similitudes entre les programmes d’extrême droite en Occident et le nationalisme russe sont stupéfiantes. La Russie et les dirigeants d’extrême droite occidentaux partagent une vision glaçante de la société : dépourvue de diversité, imprégnée d’intolérance et contrôlée par un pouvoir autoritaire. En s’alignant sur le Kremlin, les mouvements d’extrême droite occidentaux approuvent de fait les politiques répressives de la Russie, conférant une crédibilité à un régime qui réduit régulièrement au silence toute dissidence et impose une stricte conformité sociale.
<br><br>
Cette admiration croissante pour des valeurs répressives menace de ramener le monde occidental à une époque où le totalitarisme régnait et où la liberté était un concept étranger. Les valeurs de tolérance, de diversité et de droits humains – piliers de la démocratie libérale – sont désormais en danger. En embrassant la Russie, l’extrême droite cautionne tacitement un ordre mondial qui marginalise les plus vulnérables et criminalise la différence. Cette alliance ne se contente pas de saper les valeurs occidentales ; elle les empoisonne activement, rendant les organisations et traités internationaux inefficaces.
<br><br>
Dans plusieurs pays occidentaux, y compris certains États membres de l’Union européenne, certains dirigeants politiques, tels que Viktor Orbán, auraient été impliqués, selon de nombreuses enquêtes journalistiques indépendantes et rapports analytiques, dans des affaires de corruption et maintiendraient des liens étroits avec les intérêts russes. Ces politiciens ont été vus en train de saper activement les décisions stratégiques au sein d’institutions comme l’UE et l’OTAN. De telles actions semblent souvent trahir les valeurs mêmes que ces instances ont été créées pour protéger.
<br><br>
Ces personnalités bloquent fréquemment des initiatives cruciales, notamment lorsque celles-ci contredisent les intérêts russes : empêcher l’adhésion de l’Ukraine, de la Moldavie et de la Géorgie à l’OTAN à des moments critiques, saboter l’aide militaire ou retarder les processus d’adhésion à l’UE. Leurs actions ne sont pas isolées ; elles reflètent un agenda plus large visant à affaiblir ces alliances de l’intérieur, en alignant leurs intérêts sur ceux de la Russie plutôt que sur les principes démocratiques.
<br><br>
Cette manipulation crée un précédent dangereux, affaiblissant l’unité et compromettant la stabilité et la sécurité que ces institutions sont censées protéger.</p>
                  <p class="post-date"><b v-html="new Date(0).toLocaleDateString()"></b></p>
              </article>
            
          
        </div>
        <div class="feed" v-if="page == 'bio'">
          <article>
            <p><strong>Davy</strong> (né le 25 avril 1999 à Saint-Pétersbourg, Russie) est développeur, artiste 3D et créateur indépendant de contenu numérique. Il est connu pour ses projets en développement web, graphisme 3D, modifications de jeux vidéo et performances créatives utilisant les environnements de jeu comme forme de protestation. Il défend les droits humains, le droit à l'anonymat sur Internet, la liberté d'expression et les droits de la communauté LGBT.</p>
<br>
<h2>Jeunesse</h2>
<p>Depuis son enfance, il s'intéresse à l'électricité et à l'électronique, passant beaucoup de temps avec son grand-père électricien qui encourageait ses expériences avec les appareils. En 2010, il a déménagé à Dubrovska, dans la région de Leningrad, où il a travaillé sur la 3D et le montage vidéo dans un studio de cinéma du centre local pour enfants et adolescents. À 13 ans, il a commencé à apprendre la programmation : d'abord en écrivant des scripts en <code>.bat</code> et <code>.vbs</code>, puis en créant de simples sites HTML. À 17 ans, il maîtrisait le stack <strong>PHP/MySQL/HTML/JS</strong> et a commencé à travailler en freelance.</p>
<br>
<h2>Carrière</h2>
<p>À 21 ans, il a été embauché à Tioumen pour travailler sur un important projet commercial legacy en PHP, incluant l'intégration de systèmes de paiement et la gestion de grandes bases de données. Il s'occupait de la conception d'API, de l'architecture des bases de données et de la documentation. À cette période, il a définitivement quitté sa famille et fait son coming-out. Il a étudié <strong>Vue</strong> et Nim, et considérait Python comme un langage de script auxiliaire, critiquant sa domination dans le développement de l'IA.</p>
<p>Parallèlement, il a travaillé sur ses projets personnels :</p>
<ul>
<li>Jeux 2D et prototypes de jeux</li>
<li>Modifications pour Garry's Mod :
<ul>
<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2954676697" target="_blank">Chambre SHIZO d'Alexeï Navalny</a></li>
<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2856688403" target="_blank">Ma chambre dans le centre de détention de Tioumen</a></li>
</ul>
</li>
<li>Jeu 3D <a href="/fr/projects/russian-detention-simulator/" target="_blank">Simulateur de centre de détention Russe</a> sur Unreal Engine 5.6.0</li>
<li>Lancement d'une <a href="https://adultbaby.ru/" target="_blank">communauté ABDL en russe</a></li>
</ul>
<br>
<h2>Position civique et émigration</h2>
<p>Après le début de la guerre en Ukraine, il s'est publiquement opposé aux crimes militaires russes, pour lesquels il a été condamné par le tribunal régional de Tioumen à six mois de colonie de peuplement. Après sa libération, il a subi des pressions politiques, des perquisitions et des confiscations de la part du FSB. Il a quitté la Russie, vivant en Arménie et en Géorgie, puis a obtenu un visa humanitaire pour la France et l'asile politique après la détérioration de la situation politique en Géorgie. Il exprime ses protestations à travers des performances créatives, estimant que les jeux et projets interactifs peuvent attirer plus d'attention que les manifestations traditionnelles.</p>
<br>
<h2>Compétences et technologies</h2>
<ul>
<li><strong>Langages :</strong> PHP, JavaScript, Nim, Python, C++21, Java</li>
<li><strong>Technologies :</strong> MySQL, HTML, Vue, MongoDB, Node, Ionic Capacitor, Apache Cordova</li>
<li><strong>Graphisme 3D :</strong> points forts – génie civil et visualisation architecturale ; plus difficile – modélisation organique et animation</li>
<li><strong>Développement de jeux :</strong> Unreal Engine 5.6.0, Garry’s Mod (mods)</li>
<li><strong>Autre :</strong> rédaction de règles et documentation, administration de communautés, gestion de projets</li>
</ul>
<br>
<h2>Activité publique</h2>
<p>Il est connu comme développeur de projets indépendants et auteur de performances ludiques à portée politique et sociale. Il considère l'art numérique et le développement de jeux comme des outils efficaces d'activisme, capables d'influencer la conscience publique tout en contournant les formes traditionnelles de résistance.</p>
<br>
<h2>Opinions politiques et philosophie</h2>
<p>Davy adopte des vues séculaires et postnationalistes, prônant l'unification de l'humanité dans une société technocratique où les frontières nationales et les institutions étatiques perdent leur importance. Il estime que le maintien des barrières linguistiques, culturelles et politiques freine le progrès.</p>
<br>
<p>Il est contre la propriété privée des terres et des biens immobiliers : il considère que l'idée même de posséder la terre est injuste pour chaque personne naissante. Il condamne le monopole foncier, prône des taxes élevées sur les logements superflus et une responsabilité accrue pour la spéculation immobilière.</p>
<br>
<p>Il ne se considère ni communiste ni de gauche, et critique l'approche intersectionnelle dans l'activisme. Il estime que l'aide doit être accordée à ceux dont les convictions ne supposent pas la destruction ou la discrimination de l'aidant.</p>
<br>
<p>Davy considère la Russie comme un État terroriste ; ses vues politiques se sont consolidées après des expériences personnelles de pression des autorités, d'incarcération et d'émigration. Il s'oppose au militarisme et à l'autoritarisme, défend les droits de la communauté LGBT, la liberté d'expression et le droit à l'anonymat en ligne.</p>
<br>
<p>Il met l'accent sur le progrès technologique comme seule voie pour résoudre les problèmes mondiaux de l'humanité. Il estime que l'unification des forces et des ressources pour créer de nouvelles technologies permettra de réduire la dépendance au pétrole, de minimiser les dommages environnementaux et de répartir efficacement les ressources, plutôt que par la guerre et le conflit.</p>
<br>
<p>Il considère les projets numériques et initiatives technologiques (Mozilla Firefox, Tor, uBlock, YggDrasil, Delta Chat, Matrix) comme essentiels pour préserver la liberté et l'indépendance face aux entreprises cherchant à monopoliser Internet.</p>
<br>
<h2>Motivation dans la création</h2>
<p>Davy utilise les jeux vidéo et projets interactifs comme outil d'activisme politique et social, estimant que les nouvelles générations ne perçoivent plus les formes classiques de protestation. Il compare cela au passage des journaux à la radio, de la radio à la télévision et de la télévision à Internet : le format de perception de l'information change, et l'avenir appartient aux générations suivantes.</p>
<br>
<p>Il considère l'activisme technologique comme un « activisme intelligent », incompréhensible pour les autorités traditionnelles. Ses projets, comportant des éléments comiques et satiriques, attirent l'attention d'un large public. Cette approche permet d'influencer la conscience publique tout en évitant le conflit direct avec les structures répressives.</p>
<br>
<p>Son expérience d'émigration, les difficultés de location et la pression du FSB lui ont donné une compréhension pratique des problèmes de monopole des ressources et de restriction de liberté, renforçant sa conviction de la nécessité d'utiliser la technologie pour transformer la société et favoriser le progrès global.</p>
<br>
<p>Davy croit que l'humanité a un destin plus grand que la création de contenu de divertissement et la guerre, et que le progrès technologique est la clé pour résoudre les problèmes sociaux, économiques et environnementaux.</p>

          </article>
        </div>
        <div class="feed" v-if="page == 'projects'">
          
            <article>
                <h3><a href="/fr/projects/russian-detention-simulator/">Simulateur de Détention Russe</a></h3>
                <p>Simulateur de prison russe, basé sur mon histoire d&#39;emprisonnement, avec ma propre cellule</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Unreal Engine 5">Unreal Engine 5</a>
                  
                  <a href="https://google.com/?q=Games">Games</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/fr/projects/database-designer/">Concepteur de Bases de Données Relationnelles</a></h3>
                <p>Concepteur de base de données gratuit pour bases relationnelles (seule la syntaxe innodb est prise en charge pour le moment)</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/fr/projects/machine-readable-travel-document-editor/">Logiciel Éditeur MRTD ICAO-9303</a></h3>
                <p>Logiciel de conception et développement de Documents de Voyage Lisibles par Machine ICAO-9303</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Vue">Vue</a>
                  
                  <a href="https://google.com/?q=Javascript">Javascript</a>
                  
                  <a href="https://google.com/?q=Web">Web</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/fr/projects/command-line-mineswepper-on-nim/">Démineur en ligne de commande</a></h3>
                <p>Un exemple de Démineur en ligne de commande écrit en langage de programmation Nim</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
            <article>
                <h3><a href="/fr/projects/fallout-like-termlink-emulator/">Émulateur Termlink</a></h3>
                <p>Émulateur CLI de TermLink de RobCo Industries (TM) de la série Fallout. Créé par un fan pour les fans. Comprend le piratage et la personnalisation des menus. Toutes les marques Fallout appartiennent à Bethesda Softworks. Ce logiciel est non officiel et n&#39;a aucun lien avec Bethesda.</p>
                <div class="keywords">
                  
                  <a href="https://google.com/?q=Nim">Nim</a>
                  
                </div>
            </article>
          
        </div>
        <div class="contact-form" v-if="page == 'contact_me'">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Email address">
            <textarea placeholder="Your message starts here.."></textarea>
            <button>Envoyer</button>
        </div>
    </div>
</section>
      
    
  </main>
  <canvas id="background" class="background"></canvas>
</body>